.dfe-page-hero {
  padding-top: govuk-spacing(9);
  padding-bottom: govuk-spacing(6);
  background-color: govuk-tint($color_dfe-blue, 10);

  .govuk-heading-xl,
  .govuk-heading-l,
  .govuk-body,
  .govuk-body-l,
  i {
    color: govuk-colour("white");
  }

  .govuk-heading-xl,
  .govuk-heading-l {
    margin-bottom: govuk-spacing(5);
  }
}

.dfe-page-header {
  margin-top: govuk-spacing(0);
  padding-top: govuk-spacing(3);
  padding-bottom: govuk-spacing(3);
  background-color: govuk-tint($color_dfe-blue, 90);

  .govuk-heading-xl,
  .govuk-heading-l {
    margin-bottom: govuk-spacing(5);
  }

  p {
    margin-bottom: govuk-spacing(9);
  }

  p~nav {
    margin-bottom: govuk-spacing(0);
  }

  &.dfe-page-header--with-sub-nav {
    padding-bottom: govuk-spacing(0);
  }

  .govuk-caption-l{
    margin-top: govuk-spacing(5);
  }
}