@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

$govuk-font-family: 'Inter', sans-serif;
$govuk-new-link-styles: true;
$govuk-global-styles: true;



@import 'node_modules/govuk-frontend/dist/govuk/all';
@import 'node_modules/dfe-frontend-alpha/packages/dfefrontend';
@import './_hero.scss';
@import './_topnav.scss';
@import './_banner.scss';
@import './_cards.scss';
@import './_listpanels.scss';
@import './_subnav.scss';
@import './_feedback.scss';
@import './_autocomplete.scss';
@import './_interruption.scss';


.govuk-width-container {
  @include govuk-width-container;
}

a:visited {
  color: $govuk-link-colour;
}

.dfe-vertical-nav {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: .875rem;
  line-height: 1.14286;

  .dfe-vertical-nav--section-header {
    color: $color_dfe-grey-1;
    font-size: 19px;
    line-height: 1.25;
    font-weight: 600;
    color: #505a5f;
    margin-bottom: 15px;
    padding-top: 0px;
  }
}

@media (min-width:40.0625em) {
  .dfe-vertical-nav {
    padding-left: 15px
  }
}


@media print {
  .dfe-vertical-nav {
    font-size: 14pt;
    line-height: 1.2
  }
}

@media (min-width:40.0625em) {
  .dfe-vertical-nav {
    margin-left: -15px
  }
}

.dfe-vertical-nav__section {
  margin: 0 0 20px;
  padding: 0;
  list-style-type: none
}

.dfe-vertical-nav__link {
  display: block;
  padding: 7px 30px 8px 10px;
  text-decoration: none;
  margin-bottom: 5px;
  color: $color_dfe-blue;
}

.dfe-vertical-nav__section-item {
  border-left: 4px solid #b1b4b6;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
}

.dfe-vertical-nav__section-item:hover {
  border-left: 4px solid $color_dfe-secondary-blue;
}

.dfe-vertical-nav__link:focus {
  background: inherit
}

.dfe-vertical-nav__section-item--current {
  border-left: 4px solid $color_dfe-blue;
  font-weight: 700;
  background: #f3f2f1
}

.dfe-vertical-nav__link:active,
.dfe-vertical-nav__link:hover {
  color: #1d70b8;
  border-left-color: $color_dfe-secondary-blue;
  text-decoration: none;
  box-shadow: none;
  outline: 0
}

.dfe-vertical-nav__link:focus {
  background: #fd0;
  color: #0b0c0c;
  text-decoration: none;
  box-shadow: none;
  outline: 0
}

.dfe-vertical-nav__section-item--current .dfe-vertical-nav__link {
  border-left-color: $color_dfe-blue;
  font-weight: 700;
  color: $color_dfe-blue;
}

.dfe-vertical-nav__section-item--current .dfe-vertical-nav__link:hover {
  text-decoration: none
}

.dfe-vertical-nav__section--nested {
  margin-bottom: 5px
}

.dfe-vertical-nav__section--nested .dfe-vertical-nav__link {
  padding-left: 20px;
  font-weight: 400;
  margin-bottom: 0;
  margin-top: -5px
}

.dfe-vertical-nav__section--nested .dfe-vertical-nav__section-item::before {
  content: "—";
  margin-left: -20px;
  color: #505a5f
}

.dfe-vertical-nav--count {
  float: right;
  background: #b1b4b6;
  padding: 9px 5px 9px 5px;
  border-radius: 0;
  color: #0b0c0c;
  font-weight: 700;
  min-width: 25px;
  text-align: center;
  font-size: 12px
}

@media print {
  .dfe-vertical-nav__theme {
    font-family: sans-serif
  }
}

@media (min-width:40.0625em) {
  .dfe-vertical-nav__theme {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.31579
  }

  .dfe-vertical-nav--count {
    padding: 10px 8px 10px 8px;
  }
}

.dfe-vertical-nav__section {

  .dfe-vertical-nav__section-item--current--child-active {
    .dfe-vertical-nav__link {
      font-weight: 400;
    }
  }

  .dfe-vertical-nav__section {

    margin-bottom: 0px;

    .dfe-vertical-nav__section-item {
      border-left: none;

      :before {
        content: "—";
        margin-left: 0px;
        margin-right: 5px;
      }
    }

    &.dfe-vertical-nav__section-item--current {
      border-left: none;
      background: $color_dfe-secondary-blue;

      .dfe-vertical-nav__link {
        font-weight: 700;
      }
    }
  }
}




.dfe-content-page--header {
  background: tint($color_dfe-secondary-blue, 90%)
}



.dfe-o-hero {
  display: flex;
  position: relative;
  max-width: 1600px !important;
  min-height: 10rem;
  margin: 0 auto;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  background: var(--pale-grey, #e8edee);
}

@media (min-width:64em) {
  .dfe-o-hero {
    min-height: 18rem;
  }
}

.dfe-o-hero [class^=dfe-t-body],
.dfe-o-hero [class^=dfe-t-heading] {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  -webkit-box-pack: end;
}

.dfe-o-hero [class^=dfe-t-body] {
  -webkit-line-clamp: 5;
}

.dfe-o-hero--left-align {
  justify-content: flex-start;
}

.dfe-o-hero--left-align .dfe-o-hero__content-container {
  width: 80%;
  max-width: 80%;
}

@media (min-width:23.4375em) {
  .dfe-o-hero--left-align .dfe-o-hero__content-container {
    padding-right: calc((100% - 38.222rem)/2);
    padding-left: calc((100% - 38.222rem)/2);
  }
}

@media (min-width:64em) {
  .dfe-o-hero--left-align .dfe-o-hero__content-container {
    padding-right: calc((100% - 52.444rem)/2);
    padding-left: calc((100% - 52.444rem)/2);
  }
}

@media (min-width:77.5em) {
  .dfe-o-hero--left-align .dfe-o-hero__content-container {
    padding-right: calc((100% - 58.888rem)/2);
    padding-left: calc((100% - 58.888rem)/2);
  }
}

@media (min-width:85.375em) {
  .dfe-o-hero--left-align .dfe-o-hero__content-container {
    padding-right: calc((100% - 71.111rem)/2);
    padding-left: calc((100% - 71.111rem)/2);
  }
}

@media (min-width:98.75em) {
  .dfe-o-hero--left-align .dfe-o-hero__content-container {
    padding-right: calc((100% - 83.333rem)/2);
    padding-left: calc((100% - 83.333rem)/2);
  }
}

@media (max-width:23.4275em) {
  .dfe-o-hero--left-align .dfe-o-hero__content-container {
    width: 90%;
    max-width: 90%;
  }
}

@media (max-width:47.99em) {
  .dfe-o-hero--left-align .dfe-o-hero__content-container {
    width: 100%;
    max-width: 100%;
  }
}

.dfe-o-hero--left-align .dfe-a-digiblocks--pos-bl,
.dfe-o-hero--left-align .dfe-a-digiblocks--pos-tl {
  display: none;
}

.dfe-o-hero__content-container {
  display: flex;
  position: relative;
  z-index: 1;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  max-width: 100%;
  grid-row: 1;
}

@media (min-width:48em) {
  .dfe-o-hero__content-container {
    max-width: 38.222rem;
  }
}

@media (min-width:98.75em) {
  .dfe-o-hero__content-container {
    max-width: 52.444rem;
  }
}

.dfe-o-hero__inner-content-container {
  width: 100%;
  padding: 3.3333333333rem 1.666rem;
}

@media (max-width:63.99em) {
  .dfe-o-hero__inner-content-container {
    padding: 3.3333333333rem 1.111222rem;
  }
}

.dfe-o-hero__iframe-wrapper {
  position: relative;
  z-index: 1;
  min-height: 100%;
  padding-bottom: 56.25%;
}

.dfe-o-hero__iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.dfe-o-hero__meta-data {
  display: inline-table;
  margin: 0;
  font-size: .888rem;
  text-align: left;
}

.dfe-o-hero__meta-data-item {
  display: table-row;
}

.dfe-o-hero__meta-data-item-description,
.dfe-o-hero__meta-data-item-title {
  display: table-cell;
  margin: 0;
}

.dfe-o-hero__meta-data-item-title {
  padding-right: 1.1111111111rem;
  font-weight: 600;
}

@media (max-width:47.99em) {

  .dfe-o-hero__meta-data,
  .dfe-o-hero__meta-data-item,
  .dfe-o-hero__meta-data-item-description,
  .dfe-o-hero__meta-data-item-title {
    display: block;
  }

  .dfe-o-hero__meta-data-item {
    padding: .2777777778rem 0;
  }
}

.dfe-o-hero .dfe-a-digiblocks {
  z-index: 0;
}

.dfe-o-hero--light-text .dfe-o-hero__content-container [class^=dfe-t-body],
.dfe-o-hero--light-text .dfe-o-hero__content-container [class^=dfe-t-heading] {
  color: var(--white, #ffffff);
}

.dfe-o-hero--light-text .dfe-o-hero__content-container [class^=dfe-a-link]:active,
.dfe-o-hero--light-text .dfe-o-hero__content-container [class^=dfe-a-link]:not(:hover):not(:focus) {
  border-bottom: 1px solid var(--white, #ffffff);
  color: var(--white, #ffffff);
}

.dfe-o-hero--light-text .dfe-o-hero__content-container .dfe-a-icon>svg {
  fill: var(--white, #ffffff);
}

.dfe-o-hero--image-accented,
.dfe-o-hero--image-accented-mirrored {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 50% 50%;
  max-width: 100px;
  margin: 0 auto;
  padding: 0;
}

@media (max-width:63.99em) {

  .dfe-o-hero--image-accented,
  .dfe-o-hero--image-accented-mirrored {
    grid-template-columns: 100%;
  }
}

.dfe-o-hero--image-accented .dfe-o-hero__image-container,
.dfe-o-hero--image-accented-mirrored .dfe-o-hero__image-container {
  grid-row: 1;
  height: 100%;
}

@media (min-width:64em) {

  .dfe-o-hero--image-accented .dfe-o-hero__image-container,
  .dfe-o-hero--image-accented-mirrored .dfe-o-hero__image-container {
    grid-row-start: 1;
    grid-row-end: 3;
  }
}

@media (max-width:63.99em) {

  .dfe-o-hero--image-accented .dfe-o-hero__inner-content-container,
  .dfe-o-hero--image-accented-mirrored .dfe-o-hero__inner-content-container {
    padding: 3.3333333333rem 1.111222rem;
  }
}

@media (max-width:23.4275em) {

  .dfe-o-hero--image-accented .dfe-o-hero__inner-content-container,
  .dfe-o-hero--image-accented-mirrored .dfe-o-hero__inner-content-container {
    padding: 1.6666666667rem 1.111222rem;
  }
}

.dfe-o-hero--image-accented .dfe-o-hero__content-container,
.dfe-o-hero--image-accented-mirrored .dfe-o-hero__content-container {
  max-width: 100%;
  align-items: flex-start;
  padding: 0;
}

@media (min-width:23.4375em) {

  .dfe-o-hero--image-accented .dfe-o-hero__content-container,
  .dfe-o-hero--image-accented-mirrored .dfe-o-hero__content-container {
    padding: 0 calc((100% - 38.222rem)/2);
  }
}

@media (min-width:64em) {

  .dfe-o-hero--image-accented .dfe-o-hero__content-container,
  .dfe-o-hero--image-accented-mirrored .dfe-o-hero__content-container {
    padding: 0 calc((100% - 52.444rem)/2);
  }
}

@media (min-width:77.5em) {

  .dfe-o-hero--image-accented .dfe-o-hero__content-container,
  .dfe-o-hero--image-accented-mirrored .dfe-o-hero__content-container {
    padding: 0 calc((100% - 58.888rem)/2);
  }
}

@media (min-width:85.375em) {

  .dfe-o-hero--image-accented .dfe-o-hero__content-container,
  .dfe-o-hero--image-accented-mirrored .dfe-o-hero__content-container {
    padding: 0 calc((100% - 71.111rem)/2);
  }
}

@media (min-width:98.75em) {

  .dfe-o-hero--image-accented .dfe-o-hero__content-container,
  .dfe-o-hero--image-accented-mirrored .dfe-o-hero__content-container {
    padding: 0 calc((100% - 83.333rem)/2);
  }
}

@media (min-width:64em) {

  .dfe-o-hero--image-accented .dfe-o-hero__content-container,
  .dfe-o-hero--image-accented-mirrored .dfe-o-hero__content-container {
    padding: 1.1111111111rem 1.6666666667rem;
  }
}

@media (min-width:77.5em) {

  .dfe-o-hero--image-accented .dfe-o-hero__content-container,
  .dfe-o-hero--image-accented-mirrored .dfe-o-hero__content-container {
    padding: 3.3333333333rem 5rem;
  }
}

@media (max-width:63.99em) {

  .dfe-o-hero--image-accented .dfe-o-hero__content-container,
  .dfe-o-hero--image-accented-mirrored .dfe-o-hero__content-container {
    grid-row: 2;
  }
}

@include govuk-media-query($from: desktop) {

  .dfe-o-hero--image-accented .dfe-a-image,
  .dfe-o-hero--image-accented .dfe-a-image__picture,
  .dfe-o-hero--image-accented-mirrored .dfe-a-image,
  .dfe-o-hero--image-accented-mirrored .dfe-a-image__picture {
    height: 100%;
  }
}

.dfe-o-hero--image-accented .dfe-a-colour-bar,
.dfe-o-hero--image-accented-mirrored .dfe-a-colour-bar {
  height: 2.5rem;
}

@media (min-width:85.375em) {

  .dfe-o-hero--image-accented .dfe-a-colour-bar,
  .dfe-o-hero--image-accented-mirrored .dfe-a-colour-bar {
    height: 4.1666666667rem;
  }
}

@media (min-width:64em)and (max-width:85.365em) {

  .dfe-o-hero--image-accented .dfe-a-image:not(.dfe-a-image--square) .dfe-a-image__picture,
  .dfe-o-hero--image-accented-mirrored .dfe-a-image:not(.dfe-a-image--square) .dfe-a-image__picture {
    padding-bottom: 68.9922481%;
  }
}

@media (min-width:64em) {
  .dfe-o-hero--image-accented-mirrored .dfe-o-hero__image-container {
    grid-column: 1;
  }

  .dfe-o-hero--image-accented-mirrored .dfe-o-hero__content-container {
    grid-column: 2;
  }
}

.dfe-o-hero--image,
.dfe-o-hero--image-mirrored {
  display: grid;
  grid-template-columns: 50% 50%;
}

.dfe-o-hero--image .dfe-o-hero__content-container,
.dfe-o-hero--image .dfe-o-hero__image-container,
.dfe-o-hero--image-mirrored .dfe-o-hero__content-container,
.dfe-o-hero--image-mirrored .dfe-o-hero__image-container {
  width: 100%;
  max-width: 100%;
}

@media (min-width:23.4375em) {

  .dfe-o-hero--image .dfe-o-hero__content-container,
  .dfe-o-hero--image-mirrored .dfe-o-hero__content-container {
    padding: 0 calc((200% - 38.222rem)/2);
  }
}

@media (min-width:64em) {

  .dfe-o-hero--image .dfe-o-hero__content-container,
  .dfe-o-hero--image-mirrored .dfe-o-hero__content-container {
    padding: 0 calc((200% - 52.444rem)/2);
  }
}

@media (min-width:77.5em) {

  .dfe-o-hero--image .dfe-o-hero__content-container,
  .dfe-o-hero--image-mirrored .dfe-o-hero__content-container {
    padding: 0 calc((200% - 58.888rem)/2);
  }
}

@media (min-width:85.375em) {

  .dfe-o-hero--image .dfe-o-hero__content-container,
  .dfe-o-hero--image-mirrored .dfe-o-hero__content-container {
    padding: 0 calc((200% - 71.111rem)/2);
  }
}

@media (min-width:98.75em) {

  .dfe-o-hero--image .dfe-o-hero__content-container,
  .dfe-o-hero--image-mirrored .dfe-o-hero__content-container {
    padding: 0 calc((200% - 83.333rem)/2);
  }
}

@media (min-width:64em) {

  .dfe-o-hero--image .dfe-o-hero__content-container,
  .dfe-o-hero--image-mirrored .dfe-o-hero__content-container {
    padding-right: 0;
  }
}

@media (max-width:23.4275em) {

  .dfe-o-hero--image .dfe-o-hero__inner-content-container,
  .dfe-o-hero--image-mirrored .dfe-o-hero__inner-content-container {
    padding: 1.6666666667rem 1.666rem;
  }
}

@media (max-width:63.99em) {

  .dfe-o-hero--image,
  .dfe-o-hero--image-mirrored {
    grid-template-columns: 100%;
    align-items: center;
  }

  .dfe-o-hero--image .dfe-o-hero__content-container,
  .dfe-o-hero--image .dfe-o-hero__image-container,
  .dfe-o-hero--image-mirrored .dfe-o-hero__content-container,
  .dfe-o-hero--image-mirrored .dfe-o-hero__image-container {
    width: 100%;
    max-width: 100%;
  }

  .dfe-o-hero--image .dfe-o-hero__image-container,
  .dfe-o-hero--image-mirrored .dfe-o-hero__image-container {
    grid-row: 1;
  }

  .dfe-o-hero--image .dfe-o-hero__content-container,
  .dfe-o-hero--image-mirrored .dfe-o-hero__content-container {
    padding: 0 calc((100% - 38.222rem)/2);
    grid-row: 2;
  }
}

.dfe-o-hero--image-mirrored .dfe-o-hero__image-container {
  grid-column: 1;
}

.dfe-o-hero--image-mirrored .dfe-o-hero__content-container {
  grid-column: 2;
}

@media (max-width:63.99em) {
  .dfe-o-hero--image-mirrored .dfe-o-hero__content-container {
    grid-column: 1;
  }
}

.dfe-o-hero--background-image {
  padding-bottom: 35vw;
}

@media (min-width:85.375em) {
  .dfe-o-hero--background-image {
    padding-bottom: 390px;
  }
}

.dfe-o-hero--background-image .dfe-o-hero__image-container {
  position: absolute;
  top: calc(100% - 35vw - 90px);
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-mask-image: linear-gradient(to bottom, transparent 0, #000 60%);
  mask-image: linear-gradient(to bottom, transparent 0, #000 60%);
}

@media (min-width:85.375em) {
  .dfe-o-hero--background-image .dfe-o-hero__image-container {
    top: calc(100% - 495px);
  }
}

.dfe-a-colour-bar {
  display: block;
  position: relative;
  width: 100%;
  height: 2.5rem;
  background: #003a69;
}

.dfe-a-colour-bar,
.dfe-a-colour-bar:after,
.dfe-a-colour-bar:before {
  box-sizing: border-box;
}



.dfe-a-image,
.dfe-a-image__picture {
  display: block;
  position: relative;
  width: 100%;
}

.dfe-a-image {
  margin: 0 auto;
}

.dfe-a-image,
.dfe-a-image:after,
.dfe-a-image:before {
  box-sizing: border-box;
}

.dfe-a-image__picture {
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
}

.dfe-a-image__picture img,
.dfe-a-image__picture svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
  vertical-align: top;
}

.dfe-a-image--maintain-ratio {
  height: 100%;
}

.dfe-a-image--contain .dfe-a-image__picture,
.dfe-a-image--cover .dfe-a-image__picture,
.dfe-a-image--maintain-ratio .dfe-a-image__picture {
  height: 100%;
  padding: 0;
}

.dfe-a-image--maintain-ratio .dfe-a-image__picture img,
.dfe-a-image--maintain-ratio .dfe-a-image__picture svg {
  position: relative;
  vertical-align: top;
  object-fit: contain;
}

.dfe-a-image--contain,
.dfe-a-image--cover {
  width: 100%;
  height: 100%;
}

.dfe-a-image--contain img,
.dfe-a-image--contain svg,
.dfe-a-image--cover img,
.dfe-a-image--cover svg {
  position: relative;
  object-fit: cover;
}

.dfe-a-image--contain .dfe-a-image__picture img,
.dfe-a-image--contain .dfe-a-image__picture svg {
  object-fit: contain;
}

.dfe-a-image--position-top img,
.dfe-a-image--position-top svg {
  object-position: top center;
}

.dfe-a-image--position-left img,
.dfe-a-image--position-left svg {
  object-position: center left;
}

.dfe-a-image--position-bottom img,
.dfe-a-image--position-bottom svg {
  object-position: bottom center;
}

.dfe-a-image--position-right img,
.dfe-a-image--position-right svg {
  object-position: center right;
}

.dfe-a-image--position-top-left img,
.dfe-a-image--position-top-left svg {
  object-position: top left;
}

.dfe-a-image--position-top-right img,
.dfe-a-image--position-top-right svg {
  object-position: top right;
}

.dfe-a-image--position-bottom-left img,
.dfe-a-image--position-bottom-left svg {
  object-position: bottom left;
}

.dfe-a-image--position-bottom-right img,
.dfe-a-image--position-bottom-right svg {
  object-position: bottom right;
}

.dfe-a-image--4by3 .dfe-a-image__picture img,
.dfe-a-image--4by3 .dfe-a-image__picture svg,
.dfe-a-image--square .dfe-a-image__picture img,
.dfe-a-image--square .dfe-a-image__picture svg {
  position: absolute;
}

.dfe-a-image--square .dfe-a-image__picture {
  padding-bottom: 100%;
}

.dfe-a-image--4by3 .dfe-a-image__picture {
  padding-bottom: 75%;
}

.dfe-a-image--round-corners .dfe-a-image__picture {
  border-radius: .333rem;
}

.dfe-a-image--round-top-corners .dfe-a-image__picture {
  border-radius: .333rem .333rem 0 0;
}

.dfe-a-image--no-scale {
  width: auto;
  height: auto;
}

.dfe-a-image--no-scale .dfe-a-image__picture,
.dfe-a-image--no-scale img,
.dfe-a-image--no-scale svg {
  width: auto;
  height: auto;
  padding: 0;
}

.dfe-a-image--no-scale img,
.dfe-a-image--no-scale svg {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  vertical-align: top;
}

img.dfe-a-image,
img.dfe-a-image img,
img.dfe-a-image svg,
picture.dfe-a-image,
picture.dfe-a-image img,
picture.dfe-a-image svg,
svg.dfe-a-image,
svg.dfe-a-image img,
svg.dfe-a-image svg {
  object-fit: cover;
  margin: 0;
}

img.dfe-a-image--no-scale,
picture.dfe-a-image--no-scale,
svg.dfe-a-image--no-scale {
  width: auto;
  height: auto;
}

img.dfe-a-image--position-top,
picture.dfe-a-image--position-top,
svg.dfe-a-image--position-top {
  object-position: top center;
}

img.dfe-a-image--position-left,
picture.dfe-a-image--position-left,
svg.dfe-a-image--position-left {
  object-position: center left;
}

img.dfe-a-image--position-bottom,
picture.dfe-a-image--position-bottom,
svg.dfe-a-image--position-bottom {
  object-position: bottom center;
}

img.dfe-a-image--position-right,
picture.dfe-a-image--position-right,
svg.dfe-a-image--position-right {
  object-position: center right;
}

img.dfe-a-image--position-top-left,
picture.dfe-a-image--position-top-left,
svg.dfe-a-image--position-top-left {
  object-position: top left;
}

img.dfe-a-image--position-top-right,
picture.dfe-a-image--position-top-right,
svg.dfe-a-image--position-top-right {
  object-position: top right;
}

img.dfe-a-image--position-bottom-left,
picture.dfe-a-image--position-bottom-left,
svg.dfe-a-image--position-bottom-left {
  object-position: bottom left;
}

img.dfe-a-image--position-bottom-right,
picture.dfe-a-image--position-bottom-right,
svg.dfe-a-image--position-bottom-right {
  object-position: bottom right;
}

picture.dfe-a-image img,
picture.dfe-a-image svg {
  width: 100%;
  height: 100%;
}

picture.dfe-a-image--no-scale img,
picture.dfe-a-image--no-scale svg {
  width: auto;
  height: auto;
}

.dfe-a-link--col-white,
.dfe-a-link--col-white:visited {
  border-bottom: 1px solid var(--white, #ffffff);
  color: var(--white, #ffffff);
}

.dfe-a-link--col-white:focus,
.dfe-a-link--col-white:hover {
  color: var(--black, #231f20);
}

.dfe-a-link--col-white:active {
  color: var(--black, #231f20);
}

.dfe-a-link--col-black,
.dfe-a-link--col-black:visited {
  border-bottom: 1px solid var(--black, #231f20);
  color: var(--black, #231f20);
}

.dfe-a-link--col-black:focus,
.dfe-a-link--col-black:hover {
  border-bottom: 3px solid var(--white, #ffffff);
  color: var(--white, #ffffff);
  background-color: var(--black, #231f20);
}

.dfe-a-link--col-black:active {
  border-bottom: 3px solid transparent;
  color: var(--black, #231f20);
}

.dfe-a-link--col-dark-grey,
.dfe-a-link--col-dark-grey:visited {
  border-bottom: 1px solid var(--dark-grey, #3f525f);
  color: var(--dark-grey, #3f525f);
}

.dfe-a-link--col-dark-grey:focus,
.dfe-a-link--col-dark-grey:hover {
  border-bottom: 3px solid var(--black, #231f20);
  color: var(--black, #231f20);
  background-color: var(--yellow, #fae100);
}

.dfe-a-link--col-dark-grey:active {
  border-bottom: 3px solid transparent;
  color: var(--black, #231f20);
}

.dfe-a-link--col-red,
.dfe-a-link--col-red:visited {
  border-bottom: 1px solid var(--accessible-red, #b30f0f);
  color: var(--accessible-red, #b30f0f);
}



.dfe-a-button {
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  max-width: 15.55rem;
  margin-bottom: 1.78rem;
  padding: .5555555556rem 1.1111111111rem;
  border: 2px solid $color_dfe-blue;
  border-radius: 2px;
  outline: 0;
  box-shadow: 0 0 0 .167rem transparent;
  font-size: .78rem;
  font-weight: 600;
  line-height: 1.11;
  text-align: center;
  text-decoration: none;
  vertical-align: text-bottom;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  -webkit-user-select: none;
  user-select: none;
  transition-property: background-color, box-shadow, border-color;
  transition-duration: .15s;
}

.dfe-a-button,
.dfe-a-button:after,
.dfe-a-button:before {
  box-sizing: border-box;
}

.dfe-a-button:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2.5rem;
  height: 2.5rem;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 100%;
}

.dfe-a-button__label {
  min-height: 1.1111111111rem;
  padding-top: 1px;
  overflow: hidden;
  line-height: calc(1.1111111111rem - 1px);
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dfe-a-button .dfe-a-icon,
.dfe-a-button__label {
  vertical-align: text-bottom;
}

.dfe-a-button--circle {
  padding: .5555555556rem;
}

.dfe-a-button--circle-condensed {
  padding: .2777777778rem;
}

.dfe-a-button__label+.dfe-a-icon,
.dfe-a-icon+.dfe-a-button__label {
  margin-left: .5555555556rem;
}

.dfe-a-button--active,
.dfe-a-button:focus,
.dfe-a-button:hover {
  box-shadow: 0 0 0 .167rem var(--yellow, #fae100);
}

.dfe-a-button:active {
  transition-property: none;
  transform: translateY(.111rem);
  box-shadow: 0 0 0 .167rem transparent;
}

.dfe-a-button:not(.dfe-a-button--invert):not(.dfe-a-button--outline):not(.dfe-a-button--start):not(.dfe-a-button--cancel):not(.dfe-a-button--disabled):not(:disabled):not(.dfe-a-button--transparent),
.dfe-a-button:not(.dfe-a-button--invert):not(.dfe-a-button--outline):not(.dfe-a-button--start):not(.dfe-a-button--cancel):not(.dfe-a-button--disabled):not(:disabled):visited:not(.dfe-a-button--transparent) {
  color: var(--white, #ffffff);
  background: $color_dfe-blue;
}

.dfe-a-button:not(.dfe-a-button--invert):not(.dfe-a-button--outline):not(.dfe-a-button--start):not(.dfe-a-button--cancel):not(.dfe-a-button--disabled):not(:disabled):active {
  background: $color_dfe-blue;
  box-shadow: 0 0 0 .167rem transparent;
}

.dfe-a-button:not(.dfe-a-button--invert):not(.dfe-a-button--outline):not(.dfe-a-button--start):not(.dfe-a-button--cancel):not(.dfe-a-button--disabled):not(:disabled):not(:disabled):not(.dfe-a-button--disabled):focus,
.dfe-a-button:not(.dfe-a-button--invert):not(.dfe-a-button--outline):not(.dfe-a-button--start):not(.dfe-a-button--cancel):not(.dfe-a-button--disabled):not(:disabled):not(:disabled):not(.dfe-a-button--disabled):hover {
  background: $color_dfe-secondary-blue;
  background: $color_dfe-secondary-blue;
}

.dfe-a-button:not(.dfe-a-button--invert):not(.dfe-a-button--outline):not(.dfe-a-button--start):not(.dfe-a-button--cancel):not(.dfe-a-button--disabled):not(:disabled):not(:disabled):not(.dfe-a-button--disabled):focus .dfe-a-icon>svg,
.dfe-a-button:not(.dfe-a-button--invert):not(.dfe-a-button--outline):not(.dfe-a-button--start):not(.dfe-a-button--cancel):not(.dfe-a-button--disabled):not(:disabled):not(:disabled):not(.dfe-a-button--disabled):hover .dfe-a-icon>svg,
.dfe-o-dropdown__dropdown ul li a:not(.dfe-a-link):focus svg,
.dfe-o-dropdown__dropdown ul li a:not(.dfe-a-link):hover svg,
.dfe-o-dropdown__dropdown ul li button:not(.dfe-a-button):focus svg,
.dfe-o-dropdown__dropdown ul li button:not(.dfe-a-button):hover svg {
  fill: var(--white, #ffffff);
}

.dfe-a-button:not(.dfe-a-button--invert):not(.dfe-a-button--outline):not(.dfe-a-button--start):not(.dfe-a-button--cancel):not(.dfe-a-button--disabled):not(:disabled):not(:disabled):not(.dfe-a-button--disabled):active {
  background: $color_dfe-secondary-blue;
  background: $color_dfe-secondary-blue;
  transition-property: none;
}

.dfe-a-button--disabled,
.dfe-a-button--disabled:active,
.dfe-a-button--disabled:focus,
.dfe-a-button--disabled:hover,
.dfe-a-button:disabled,
.dfe-a-button:disabled:active,
.dfe-a-button:disabled:focus,
.dfe-a-button:disabled:hover {
  border-color: var(--mid-grey-20-tint, #d5dade);
  color: var(--dark-grey, #3f525f);
  background: var(--mid-grey-20-tint, #d5dade);
  box-shadow: none;
  cursor: not-allowed;
}

.dfe-a-button--disabled .dfe-a-icon>svg,
.dfe-a-button--disabled:active .dfe-a-icon>svg,
.dfe-a-button--disabled:focus .dfe-a-icon>svg,
.dfe-a-button--disabled:hover .dfe-a-icon>svg,
.dfe-a-button:disabled .dfe-a-icon>svg,
.dfe-a-button:disabled:active .dfe-a-icon>svg,
.dfe-a-button:disabled:focus .dfe-a-icon>svg,
.dfe-a-button:disabled:hover .dfe-a-icon>svg {
  fill: var(--dark-grey, #3f525f);
}

.dfe-a-button--start {
  border-color: var(--dark-green, #006646);
  color: var(--white, #ffffff);
  background: var(--dark-green, #006646);
}

.dfe-a-button--cancel {
  border-color: var(--accessible-red, #b30f0f);
  color: var(--white, #ffffff);
  background: var(--accessible-red, #b30f0f);
}

.dfe-a-button--invert {
  border-color: var(--white, #ffffff);
}

.dfe-a-button--invert .dfe-a-icon>svg,
.dfe-a-button--outline .dfe-a-icon>svg {
  fill: var(--blue, #005bbb);
  ;
}

.dfe-a-button--invert,
.dfe-a-button--outline {
  color: var(--blue, #005bbb);
  background: var(--white, #ffffff);
}

.dfe-a-button--outline:active {
  border-color: var(--blue, #005bbb);
  box-shadow: 0 0 0 .167rem transparent;
}

.dfe-a-button--outline:not(:disabled):not(.dfe-a-button--disabled):focus,
.dfe-a-button--outline:not(:disabled):not(.dfe-a-button--disabled):hover {
  border-color: var(--black, #231f20);
}

.dfe-a-button--outline:not(:disabled):not(.dfe-a-button--disabled):active {
  border-color: var(--blue, #005bbb);
}

@media (max-width:63.99em) {
  .dfe-a-button--responsive {
    width: 100%;
  }
}

.dfe-a-button--transparent {
  border: 1px solid transparent;
  background: 0 0;
}

.dfe-a-button--transparent .dfe-a-icon>svg {
  fill: var(--black, #231f20);
}

input[type=reset].dfe-a-button,
input[type=submit].dfe-a-button {
  display: inline-block;
  min-height: calc(2.5rem - .69px);
}





.dfe-light-blue-tint {
  background: tint($color_dfe-secondary-blue, 90%)
}


.dfe-hero {
  padding: 50px 0px;
  background: $color_dfe-secondary-blue;

  .govuk-heading-xl,
  p {
    color: $color_dfe-white !important
  }
}



.dfe-related-content {
  border-top: 5px solid $color_dfe-blue;
  padding-top: 15px;
}

.code-example {
  >.govuk-tabs__panel {
    overflow: hidden;

    >pre {
      background: $color_dfe-grey-4;
      padding: 10px;
      overflow: hidden;
    }
  }
}

code {
  font-family: monospace;
  color: crimson;
  font-size: 16px;
  overflow-x: scroll;
  word-break: keep-all;
}

.app-reading-width {
  max-width: 44em !important;
}

.custom-dfe-panel.custom-dfe-panel_example {
  max-width: 80em;
}

.custom-dfe-panel--title {
  padding: 10px 15px;
  background: govuk-colour("light-grey");
}

.custom-dfe-panel--content {
  border-top: 1px solid #b1b4b6;
  padding: 15px;
  overflow: hidden;
}

.custom-dfe-section {
  margin-bottom: 60px;
}




.monospace {
  font-family: monospace;
  font-size: 16px;
}



.dfe-atoz {

  padding-left: 0px;
  margin-bottom: 30px;
  margin-top: -30px;

  >li {
    display: inline-block;
    margin-bottom: 0;
    padding-right: 10px;
    margin-bottom: 20px;

    >a {
      margin-right: 0px;
      text-decoration: underline;
      font-size: 1.3rem;
      padding: 12px;
    }
  }
}

.dfe-summary-list--meta {
  font-size: 16px;
  line-height: 0.8rem;

  .govuk-summary-list__key {
    width: 13%
  }
}


.app-swatch {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 4px;
}

@include mq($from: desktop) {
  .app-swatch {
    display: inline-block;
    position: static;
    margin-top: 6px;
    margin-right: 10px;
    margin-bottom: 7px;
    vertical-align: middle;
  }
}

.dfe-section-break {
  border-bottom: 3px solid #003a69;
  margin: 20px 0px 20px;

  &.dfe-section-break--m {
    margin: 60px 0px 40px 0px;
  }

  &.dfe-section-break--light-dashed {
    border-bottom: 3px dashed $color_dfe-grey-2;
  }
}




.flex-nav {
  display: flex;
  justify-content: space-between;
}

.flex-right {
  justify-content: flex-end;
  margin-left: auto;
}

.flex-left {
  justify-content: flex-start;
  margin-right: auto;
}

.dfe-topnav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  line-height: 1.4em;
}

.dfe-topnav li a {
  display: block;
  text-align: center;
  padding: 8px 12px 8px 12px;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.71429;
  text-decoration: none;
  color: $color_dfe-white;
}

@media (min-width: 40.0625em) {
  .dfe-topnav li a {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
  }
}

@media print {
  .dfe-topnav li a {
    font-size: 14pt;
    line-height: 1.2;
  }
}

.dfe-topnav li {
  float: left;
  margin-bottom: 0px;
  font-size: 16px;
}

.dfe-topnav li a:focus {
  background: #ffdd00;
  color: #171b1f !important;
}

.dfe-topnav li a:hover {
  background-color: $color_dfe-blue;
  color: #ffffff;
}

.dfe-topnav li a:hover:focus {
  color: #ffffff !important;
}

.dfe-topnav li a:hover {
  color: #ffffff;
}

.dfe-topnav .active {
  color: #ffffff;
  font-weight: 700;
  background-color: $color_dfe-blue;
}

.dfe-topnav .active:focus {
  color: #171b1f;
}

.dfe-topnav ul.right {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  float: right;
}



@media (min-width: 61.875em) {
  .dfe-topnav {
    display: block;
  }
}



.dfe-timeline {
  padding: calc(2 * 5px);
}

.dfe-timeline .action_needed {
  border: 5px solid #354973;
  padding: 5px 20px 5px 15px;
  box-shadow: none;
  margin-bottom: 30px;
  display: block;
  background: #fff;
}

.dfe-timeline .action_needed h2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.dfe-timeline .action_needed:before {
  display: block;
  width: calc(2 * 10px);
  height: calc(2 * 10px);
  border-radius: 50%;
  background-color: #ffffff;
  border: 4px solid #354973;
  position: absolute;
  z-index: 2;
  left: -37px;
  top: 5px;
}

.dfe-timeline ol li.active:before {

  background-color: #00703c;
}

.dfe-timeline ol li.inactive:before {

  background-color: #5694ca;
}



.dfe-timeline h2 {
  margin-top: 0px;
  margin-bottom: 10px;
}

.dfe-timeline ol {
  list-style-type: none;
  position: relative;
  padding: 0 0 0 10px;
  margin: 0 0 20px 0;
}

.dfe-timeline ol:after {
  content: "";
  position: absolute;
  top: -10px;
  left: -4.5px;
  bottom: 0;
  border-left: 4px solid #b1b4b6;
  height: 102%;
}

.dfe-timeline ol>li {
  margin: 4px 0 20px 10px;
  padding-left: 15px;
  position: relative;
  display: block;
  border-bottom: 1px solid #DEE0E2;
}

.dfe-timeline ol>li:last-child {
  margin-bottom: 0px;
  border-bottom: 0px;
}

.dfe-timeline ol>li .dfe-timeline-reference {
  display: table;
  position: relative;
}

.dfe-timeline ol>li .dfe-timeline-reference:before {
  content: "";
  position: absolute;
  left: -20px;
  width: 20px;
  top: 9px;
  z-index: -1;
}

.dfe-timeline ol>li:before {
  content: "";
  display: block;
  width: calc(2 * 10px);
  height: calc(2 * 10px);
  border-radius: 50%;
  background-color: #ffffff;
  border: 4px solid #b1b4b6;
  position: absolute;
  z-index: 2;
  left: -37px;
  top: 5px;
}

.dfe-timeline ol ul li a {
  text-decoration: underline;
}

.dfe-timeline-details {
  margin: 10px 0;
}

.dfe-timeline-details summary {
  font-size: 0.9em;
}

.dfe-timeline-details span {
  display: block;
  font-size: 0.8em;
  padding-bottom: 5px;
  padding-left: 10px;
  border-left: 4px solid #005EA5;
}

.link-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
  margin-bottom: 25px;
  ;

  li {
    display: flex;
    border: 1px solid $color_dfe-grey-1;


    div {
      flex: 1;
      padding: 15px;

      :first-child {
        font-weight: bold;
      }
    }

  }
}


.dfe-panel {
  background: $color_dfe-grey-4;
  padding: 30px;

  +.dfe-panel {
    margin: 30px 0px;
  }
}

.dfe-panel-section {
  background: map-get($govuk-colours-organisations, 'department-for-education', 'colour-websafe');
  padding: 40px;

}

.dfe-panel-section .govuk-heading-m,
.dfe-panel-section .govuk-heading-l,
.dfe-panel-section p {
  color: $color_dfe-white;

}

.dfe-cta-panel {
  background: #F2AA66;
  padding: 20px;

  .dfe-cta-panel--header {
    margin-bottom: 60px;
  }

  .dfe-cta-panel--info {
    border-top: 2px solid $color_dfe-black;
    margin-top: 10px;
    padding-top: 10px;
  }

  a.dfe-cta-panel--button {
    padding: 15px 20px;
    border: 1px solid $color_dfe-black;
    font-size: 19px;
    text-decoration: none;
    font-weight: 600;
    color: $color_dfe-black;
    clear: both;

    @include govuk-media-query($until: tablet) {
      margin: 40px 0px;
      display: block;
      text-align: center;
    }

    &:focus {
      outline: 3px solid transparent;
      color: #0b0c0c;
      background-color: #fd0;
      box-shadow: 0 0px #fd0, 0 4px #0b0c0c;
      text-decoration: none;
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;
    }
  }
}



.govuk-panel {
  text-align: left;
}

.dfe-panel--white {
  background-color: $color_dfe-white;
}

.dfe-panel-presentation {
  border-top: 50px solid #22d0c5;
}

.dfe-text--white {
  color: $color_dfe-white;
}

.dfe-text-align--centre {
  text-align: center;
}


.dfe-cta {
  padding: 12px 30px;
  background-color: #c94922;
  text-decoration: none;
  font-weight: 600;
  color: $color_dfe-white;

  &:focus {

    background-color: #d44e25;
  }
}

.dfe-cta {

  &:focus {
    background-color: #fd0;
    color: $color_dfe-black;
  }
}

@include govuk-media-query($until: desktop) {

  .dfemanual-hero-image {
    display: none;
  }

  .dfe-cta {
    padding: 12px 30px;
    background-color: #c94922;
    text-decoration: none;
    font-weight: 600;
    color: $color_dfe-white;
    display: block;
    text-align: center;
    margin-bottom: 30px;

  }

  .dfemanual-cta-cards {

    margin: 0px;
    padding: 0px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    /* Space between cards */
    justify-content: space-between;


  }

  .dfemanual-cta-cards li {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    flex: 1;
    min-width: calc(80% - 30px);
    display: flex;
    flex-direction: column;
    padding: 30px;
    background: #f3f2f1;

    a {
      font-weight: 600;
      margin: 5px 0px
    }

    .icon {
      display: block;
      margin-bottom: 15px;
    }

    .card>* {
      flex-grow: 1;
      flex-shrink: 0;


    }

    .card>p:last-child {
      margin-top: auto;
    }

  }

  .dfemanual-cta-cards--half li {
    min-width: calc(80% - 30px);
  }

  /* To make all <li> the same height as the tallest one */
  .dfemanual-cta-cards li>* {
    flex-grow: 1;
    flex-shrink: 0;
  }
}



@include govuk-media-query($from: desktop) {


  .dfemanual-cta-cards {

    margin: 0px;
    padding: 0px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    /* Space between cards */
    justify-content: space-between;

  }

  .dfemanual-cta-cards li {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    max-width: 320px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    background: #f3f2f1;

    a {
      font-weight: 600;
    }

    .icon {
      display: block;
      margin-bottom: 15px;
    }

    .card>* {
      flex-grow: 1;
      flex-shrink: 0;


    }

    .card>p:last-child {
      margin-top: auto;
    }

    h3 {
      margin-bottom: 15px;
    }

    p {
      margin-bottom: 20px;
    }

    p>a {
      margin-bottom: 0px;
    }

    p:last-child {
      margin-bottom: 0px;
    }

  }

  .dfemanual-cta-cards--full li {
    min-width: calc(100% - 60px);
  }


  .dfemanual-cta-cards--half li {
    min-width: calc(45% - 30px);
  }

  /* To make all <li> the same height as the tallest one */
  .dfemanual-cta-cards li>* {
    flex-grow: 1;
    flex-shrink: 0;
  }
}

.dfemanual-color-bg {
  .dfemanual-cta-cards li {

    background: #ffffff;

    a {
      font-weight: 600;
    }
  }
}



/* Sets the background color of the container div to dark grey */
.dfemanual-scores {

  display: inline-flex;
  align-items: center;
  margin-bottom: 15px;
}

/* Sets the style of each individual score */
.dfemanual-score {
  background-color: $color_dfe-grey-2;
  color: $color_dfe-black;
  /* Sets the text color to white for contrast against the dark background */
  margin: 0 5px;
  /* Adds gaps between each span */
  padding: 10px 15px;
  /* Adds padding around the numbers */
  border-radius: 4px;
  /* Rounds the corners for a softer look */
  font-weight: 600;
  font-size: 22px;
}

/* Sets the background color of the current score to blue */
.dfemanual-score--current {
  background-color: govuk-colour("orange");
  color: $color_dfe-white;
  font-weight: 600;
}


.dfe-manual-color-chip {
  display: block;
  height: 160px;
  width: 100%;
  border-radius: 8px 8px 0 0;
}


.govuk-list.dfe-list--styled li {
  cursor: pointer;
  padding: 12px 18px;
  display: flex;
  align-items: center;
  background: $color_dfe-grey-4;
  margin-bottom: 10px;
}

.govuk-list.dfe-list--styled li:hover {
  background: $color_dfe-grey-3;
  /* Change the color for the hover state as needed */
}

.govuk-list.dfe-list--styled li:last-of-type {
  margin-bottom: 0;
}

.govuk-list.dfe-list--styled li a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: inherit;
}

.govuk-list.dfe-list--styled li:hover a {
  background: $color_dfe-grey-3;
  transition: background 0.3s, color 0.3s;
}

.govuk-list.dfe-list--styled li::after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid black;
  /* Change the color as needed */
  margin-left: 10px;
}




.dfe-header {
  border-bottom: none;
}

.dfe-header__navigation {

  background: #003a69;
}

.dfe-header__navigation-item--current {
  border-bottom: 6px solid $color_dfe-secondary-blue;
}

.dfe-header__navigation-item.dfe-header__navigation-item--current {
  box-shadow: none !important;
}



.dfe-header__search *,
.dfe-header__search>* {
  border-radius: 0px !important;
}

.dfe-manual-cta-card {
  padding: 25px;
  border-radius: 2px;
  background: #003a69;

  .govuk-heading-l,
  .govuk-heading-m,
  .govuk-heading-s,
  .govuk-body,
  .govuk-body-l,
  .govuk-body-s,
  p {
    color: #ffffff;
  }
}


.dfe-manual-cta-card {
  flex: 1;
  display: flex;
  flex-direction: row;
  gap: 5px;
  padding: 30px;
  border-radius: 4px;
}

.dfe-manual-cta-card-img {
  flex: 1;
  display: flex;
  max-width: 100px;
}

.dfe-manual-cta-card-text {
  /* You can set your own background color */
  flex: 1;

  .govuk-tag {
    margin-bottom: 15px;
  }

  .govuk-heading-m {
    margin-bottom: 5px;
  }

  p:last-of-type {
    margin-bottom: 0;
  }
}




/// CARDS



.dfe-section {
  margin: 40px 0px;
}

.dfe-section--grey-bg {
  background: $color_dfe-grey-4;
}



.dfe-list--bordered li a {
  border: 1px solid #505a5f;
  padding: 20px;
  text-decoration: none !important;
  display: block;
  margin-bottom: 15px;
  text-decoration: none !important;
  font-weight: 600
}

.dfe-list--number,
ol {
  padding-left: 0
}

.govuk-heading-l a,
.govuk-heading-m a .govuk-heading-s a {
  text-decoration: none;
}

.chevron:after {
  content: ' ';
  display: inline-block;
  border-bottom: 4px solid $color_dfe-secondary-blue;
  border-right: 4px solid $color_dfe-secondary-blue;
  height: 12px;
  width: 12px;
  transform: rotate(-45deg);
}

.chevron-narrow:after {
  content: ' ';
  display: inline-block;
  border-bottom: 2px solid $color_dfe-secondary-blue;
  border-right: 2px solid $color_dfe-secondary-blue;
  height: 10px;
  width: 10px;
  transform: rotate(-45deg);
}





/* Grid container */
.dfe-manual-flex {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  /* Adjust based on desired card width */
  gap: 20px;
  /* Space between cards */
  margin-bottom: 40px;
}

/* Card styling */
.dfe-manual-colour-chip {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  /* Light grey border */
  border-radius: 2px;
  /* Rounded corners */
  overflow: hidden;
  /* Ensure child elements do not overflow the rounded corners */
}

/* Color block styling */
.dfe-manual-colour-chip--color-block {
  padding: 60px 15px 20px 15px;
  display: flex;
  justify-content: center;
  gap: 25px;
  /* Distribute contrast checks evenly */
  align-items: center;
  /* Center align the contrast checks */

  &.dfe-blue {
    background-color: $color_dfe-blue;
  }

  &.dfe-secondary-blue {
    background-color: $color_dfe-secondary-blue;
  }

}

.dfe-manual-colour-chip--color-block>div {

  text-align: center;
}

/* Contrast checks */
.dfe-manual-colour-chip--color-block-contrast,
.dfe-manual-colour-chip--color-block-contrast--white {
  color: $color_dfe-white;
  display: block;
  margin: auto;
  font-size: 19px;
}

.dfe-manual-colour-chip--color-block-contrast,
.dfe-manual-colour-chip--color-block-contrast--black {
  color: $color_dfe-black;
  display: block;
  margin: auto;
  font-size: 19px;
}

.dfe-manual-colour-chip--color-block-contrast--fail {
  background: $color_dfe-grey-1;
  border-radius: 3px;
  padding: 2px 6px;
  color: $color_dfe-white;
  font-size: 14px;
  margin-top: 5px;

}

.dfe-manual-colour-chip--color-block-contrast--pass {
  background: $color_dfe-grey-1;
  border-radius: 3px;
  padding: 2px 6px;
  color: $color_dfe-white;
  font-size: 14px;
  margin-top: 5px;
}

/* Info section styling */
.dfe-manual-colour-chip--info {
  padding: 20px;
  background-color: #f9f9f9;
  /* Light background for the info section */
  border-top: 1px solid #ccc;
  /* Visual separation from the color block */
}



/* Ensuring text is easily readable */
.dfe-manual-colour-chip--info p {
  margin: 0;
  /* Remove default paragraph margin */
  color: #333;
  /* Dark text for readability */
}

.dfe-manual-shade-grid {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  margin-bottom: 5px;
  /* Space between each shade grid */
}

.dfe-manual-shade-grid--chip {
  width: 250px;
  /* Width of the color chip */
  height: 50px;
  /* Height of the color chip */
  margin-right: 20px;
  /* Space between the chip and its info */
  display: flex;
  /* Enable flexbox */
  align-items: center;
  /* Vertically center the child content */
  justify-content: center;
}

/* Example specific color styling */
.blue-0 {
  background-color: govuk-tint($color_dfe-blue, 0);
  color: #ffffff;
}

.blue-10 {
  background-color: govuk-tint($color_dfe-blue, 10);
  color: #ffffff;
}

.blue-20 {
  background-color: govuk-tint($color_dfe-blue, 20);
  color: #ffffff;
}

.blue-30 {
  background-color: govuk-tint($color_dfe-blue, 30);
  color: #ffffff;
}

.blue-40 {
  background-color: govuk-tint($color_dfe-blue, 40);
  color: #ffffff;
}

.blue-50 {
  background-color: govuk-tint($color_dfe-blue, 50);
}

.blue-60 {
  background-color: govuk-tint($color_dfe-blue, 60);
}

.blue-70 {
  background-color: govuk-tint($color_dfe-blue, 70);
}

.blue-80 {
  background-color: govuk-tint($color_dfe-blue, 80);
}

.blue-90 {
  background-color: govuk-tint($color_dfe-blue, 90);
}


.blue-shade-0 {
  background-color: govuk-shade($color_dfe-blue, 0);
  color: #ffffff;
}

.blue-shade-10 {
  background-color: govuk-shade($color_dfe-blue, 10);
  color: #ffffff;
}

.blue-shade-20 {
  background-color: govuk-shade($color_dfe-blue, 20);
  color: #ffffff;
}

.blue-shade-30 {
  background-color: govuk-shade($color_dfe-blue, 30);
  color: #ffffff;
}

.blue-shade-40 {
  background-color: govuk-shade($color_dfe-blue, 40);
  color: #ffffff;
}

.blue-shade-50 {
  background-color: govuk-shade($color_dfe-blue, 50);
  color: #ffffff;
}

.blue-shade-60 {
  background-color: govuk-shade($color_dfe-blue, 60);
  color: #ffffff;
}

.blue-shade-70 {
  background-color: govuk-shade($color_dfe-blue, 70);
  color: #ffffff;
}

.blue-shade-80 {
  background-color: govuk-shade($color_dfe-blue, 80);
  color: #ffffff;
}

.blue-shade-90 {
  background-color: govuk-shade($color_dfe-blue, 90);
  color: #ffffff;
}

/* Example specific color styling */
.sec-blue-0 {
  background-color: govuk-tint($color_dfe-secondary-blue, 0);
  color: #ffffff;
}

.sec-blue-10 {
  background-color: govuk-tint($color_dfe-secondary-blue, 10);
  color: #ffffff;
}

.sec-blue-20 {
  background-color: govuk-tint($color_dfe-secondary-blue, 20);
  color: #ffffff;
}

.sec-blue-30 {
  background-color: govuk-tint($color_dfe-secondary-blue, 30);
  color: #ffffff;
}

.sec-blue-40 {
  background-color: govuk-tint($color_dfe-secondary-blue, 40);
  color: #ffffff;
}

.sec-blue-50 {
  background-color: govuk-tint($color_dfe-secondary-blue, 50);
}

.sec-blue-60 {
  background-color: govuk-tint($color_dfe-secondary-blue, 60);
}

.sec-blue-70 {
  background-color: govuk-tint($color_dfe-secondary-blue, 70);
}

.sec-blue-80 {
  background-color: govuk-tint($color_dfe-secondary-blue, 80);
}

.sec-blue-90 {
  background-color: govuk-tint($color_dfe-secondary-blue, 90);
}


.sec-blue-shade-0 {
  background-color: govuk-shade($color_dfe-secondary-blue, 0);
  color: #ffffff;
}

.sec-blue-shade-10 {
  background-color: govuk-shade($color_dfe-secondary-blue, 10);
  color: #ffffff;
}

.sec-blue-shade-20 {
  background-color: govuk-shade($color_dfe-secondary-blue, 20);
  color: #ffffff;
}

.sec-blue-shade-30 {
  background-color: govuk-shade($color_dfe-secondary-blue, 30);
  color: #ffffff;
}

.sec-blue-shade-40 {
  background-color: govuk-shade($color_dfe-secondary-blue, 40);
  color: #ffffff;
}

.sec-blue-shade-50 {
  background-color: govuk-shade($color_dfe-secondary-blue, 50);
  color: #ffffff;
}

.sec-blue-shade-60 {
  background-color: govuk-shade($color_dfe-secondary-blue, 60);
  color: #ffffff;
}

.sec-blue-shade-70 {
  background-color: govuk-shade($color_dfe-secondary-blue, 70);
  color: #ffffff;
}

.sec-blue-shade-80 {
  background-color: govuk-shade($color_dfe-secondary-blue, 80);
  color: #ffffff;
}

.sec-blue-shade-90 {
  background-color: govuk-shade($color_dfe-secondary-blue, 90);
  color: #ffffff;
}



/* Info styling */
.dfe-manual-shade-grid--info {

  border-radius: 4px;
  /* Slightly rounded corners for the info box */
  padding: 5px 10px;
  /* Padding inside the info box */
  font-family: monospace;
  /* Monospaced font for the code */
  font-size: 0.9rem;
  /* Adjust font size as needed */
}

// DfE Frontend Overrides - until a future release

.dfe-header__menu-toggle {
  border-radius: 0px;
}

@include govuk-media-query($until: large-desktop) {
  .dfe-header__navigation {
    background: #ffffff;
  }

  .dfe-header__navigation-item--current {
    a.dfe-header__navigation-link {
      color: #003a69;
    }
  }

}


ul.dfe-items-list {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

ul.dfe-items-list>li {
  border-bottom: 1px solid #888888;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

ul.dfe-items-list>li>div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul.dfe-items-list>li>div>h2 {
  margin: 10px 0 5px;
}

ul.dfe-items-list>li>ul.meta {
  display: flex;
  padding: 0;
  list-style-type: none;
  margin-top: 10px;
  /* Optional: adds space between the div and ul */
  align-items: flex-start;
  /* Aligns items to the start (left) */
}

ul.dfe-items-list>li>ul.meta>li {
  text-align: left;
  margin-right: 20px;
  font-size: 16px;
  color: #505a5f;
}

ul.dfe-items-list>li>ul.meta>li>span {
  font-weight: bold;
}


.govuk-tag--amber {
  background: #ffe599;
  color: #4c3900;
}


.dfe-aside{
  border-top: 5px solid $color_dfe-blue;
  padding-top: 15px;
}