{% extends "layouts/auth.html" %}

{% set selectedNav = "Assess" %}
{% set pageName = 'Artefacts' %}

{% set view = 'artefacts' %}
{% block hero %}

{% include './_header.html' %}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">Artefacts</h2>

            </div>
            <div class="govuk-summary-card__content">

                {% if artefacts.length %}

                <dl class="govuk-summary-list">
                    {% for artefact in artefacts %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            <a href="{{artefact.URL}}" target="_blank"
                                class="govuk-link govuk-link--no-visited-state">{{artefact.Title}}</a>
                        </dt>
                        <dd class="govuk-summary-list__value">{{artefact.Description}}</dd>
                        <dd class="govuk-summary-list__actions">
                          
                        </dd>
                    </div>
                    {% endfor %}
                </dl>
                {% else %}
                <p class="govuk-!-margin-bottom-0">No artefacts have been added.</p>
                {% endif %}

            </div>
        </div>

    </div>
    <div class="govuk-grid-column-one-third">
        
    </div>
</div>


{% endblock %}