{% extends "layouts/auth.html" %}

{% set selectedNav = "Reports" %}
{% set pageName = "Analysis of service assessment and peer review data." %}
{% set view = "analysis" %}


{% block head %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://kit.fontawesome.com/32bb6fdbdb.js" crossorigin="anonymous"></script>
{% endblock %}

{% block hero %}
<div class="dfe-page-header dfe-page-header--with-sub-nav">
    <div class="govuk-width-container dfe-width-container ">
        <div class="govuk-grid-row">

            <div class="govuk-grid-column-full">
                <span class="govuk-caption-l">Reports</span>
                <h1 class="govuk-heading-l">Assessment data analysis</h1>
                <nav class="app-sub-navigation" aria-label="Application menu">
                    <ul class="app-sub-navigation__list">
                        <li class="app-sub-navigation__item">
                            <a class="app-sub-navigation__link" {% if view==="reports" %} aria-current="page" {% endif
                                %} href="/reports">Reports</a>
                        </li>
                        <li class="app-sub-navigation__item">
                            <a class="app-sub-navigation__link" {% if view==="analysis" %} aria-current="page" {% endif
                                %} href="/analysis">Analysis</a>
                        </li>



                        {# {% for i in range(1, 2) %}

                        <li class="app-sub-navigation__item">
                            <a class="app-sub-navigation__link" {% if year==(currentYear -i) %} aria-current="page" {%
                                endif %}href="/analysis/{{ currentYear -i}}">{{ currentYear -i}}</a>
                        </li>
                        {% endfor %} #}
                    </ul>
                </nav>
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block content %}

<p>Analysis of completed service assessments and individual service standard outcomes.</p>

<details class="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        Guidance for the table
      </span>
    </summary>
    <div class="govuk-details__text">
        <p>In the following table, the column headers 1 to 14 link out to the 14 point Service Standard. For the rows, R means red, A means amber, and G means green, and these represent the rating outcomes for each standard for the named service.</p>
    </div>
  </details>

<table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m">Assessments and their outcomes by Service Standard</caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header govuk-!-width-one-third">Service</th>
        {% for i in range(1, 15) %}
        <th scope="col" class="govuk-table__header"><a class="govuk-link headercell" target="_blank" href="/redirector/service-standard/{{i}}"><span class="govuk-visually-hidden">Service Standard </span> {{ i }}</a></th>
        {% endfor %}
      </tr>
    </thead>
    <tbody class="govuk-table__body">

        {% for item, group in heatmap %}


      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">  <a href="/reports/report/{{ item }}" class="govuk-link"
            title="{{ group[0].Name}}" aria-label="{{ group[0].Name}}">{{ group[0].Name | truncate(40)}}</a></th>

            {% for item in group %}
        <td class="govuk-table__cell">
            <a href="/reports/report/{{ item.AssessmentID }}/#point-{{ item.Standard }}"
            class="govuk-link {{ item.Outcome | lower }}"
            aria-label="{{ group[0].Name}} outcome:{{ item.Outcome }} for standard {{ item.Standard }}" tabindex="0">{{
            item.Outcome | OutcomeForGrid  }}</a>
        </td>
        {% endfor %}

      </tr>
      {% endfor %}
    </tbody>
  </table>





<style>




    thead > tr > th.govuk-govuk-table__header, tbody > tr > td.govuk-table__cell{
        min-width: 42px;
        text-align: center !important;

    }

    .headercell{
        background-color: #505a5f;
        color: #ffffff !important;
        font-weight: 600;
        display: block;
        text-align: center;
        padding: 8px 12px;
        text-decoration: none;
    }
    .headercell:focus,  .green:focus,  .red:focus,  .amber:focus{
        color: #0b0c0c !important;
    }

    .green {
        background-color: #00703c;
        color: #ffffff !important;
        font-weight: 600;
        display: block;
        text-align: center;
        padding: 8px 12px;
        text-decoration: none;
    }

    .amber {
        background-color: #f47738;
        color: #ffffff !important;
        font-weight: 600;
        display: block;
        text-align: center;
        padding: 8px 12px;
        text-decoration: none;
        /* Amber color */
    }

    .red {
        background-color: #d4351c;
        color: #ffffff !important;
        font-weight: 600;
        display: block;
        text-align: center;
        padding: 8px 12px;
        text-decoration: none;
    }

    .na {
        background-color: #505a5f;
        color: #ffffff !important;
        font-weight: 600;
        display: block;
        text-align: center;
        padding: 8px 12px;
        text-decoration: none;
    }

    .cell:focus {
        color: #0b0c0b !important;
    }
</style>

<script>

    const data = {{ results | dump | safe}};

    const ctx = document
        .getElementById('outcomeChart')
        .getContext('2d');

    // Extract counts for each outcome
    const redCount = data.find(item => item.Outcome === 'Red')
        ?.OutcomeCount || 0;
    const amberCount = data.find(item => item.Outcome === 'Amber')
        ?.OutcomeCount || 0;
    const greenCount = data.find(item => item.Outcome === 'Green')
        ?.OutcomeCount || 0;

    const chart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: [
                'Red', 'Amber', 'Green'
            ], // X-axis labels
            datasets: [
                {
                    label: 'Red',
                    data: [
                        redCount, 0, 0
                    ], // Only Red count
                    backgroundColor: 'rgba(255, 99, 132, 0.4)',
                    borderColor: 'rgba(255, 99, 132, 1)',
                    borderWidth: 1
                }, {
                    label: 'Amber',
                    data: [
                        0, amberCount, 0
                    ], // Only Amber count
                    backgroundColor: 'rgba(255, 206, 86, 0.4)',
                    borderColor: 'rgba(255, 206, 86, 1)',
                    borderWidth: 1
                }, {
                    label: 'Green',
                    data: [
                        0, 0, greenCount
                    ], // Only Green count
                    backgroundColor: 'rgba(75, 192, 192, 0.4)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1
                }
            ]
        },
        options: {
            scales: {
                x: {
                    stacked: true, // You can set this to false if you prefer non-stacked bars
                    title: {
                        display: true,
                        text: 'Outcome'
                    }
                },
                y: {
                    stacked: true, // You can set this to false if you prefer non-stacked bars
                    title: {
                        display: true,
                        text: 'Number for each outcome'
                    }
                }
            }
        }
    });

    // Example data format (replace this with your actual data)
    const data2 = {{ standards | dump | safe}};

    const ctx2 = document
        .getElementById('outcomeChart2')
        .getContext('2d');
    const chart2 = new Chart(ctx2, {
        type: 'bar',
        data: {
            labels: data2.map(item => `${item.Standard}`),
            datasets: [
                {
                    label: 'Red',
                    data: data2.map(item => item.RedCount),
                    backgroundColor: 'rgba(255, 99, 132, 0.4)',
                    borderColor: 'rgba(255, 99, 132, 1)',
                    borderWidth: 1
                }, {
                    label: 'Amber',
                    data: data2.map(item => item.AmberCount),
                    backgroundColor: 'rgba(255, 206, 86, 0.4)',
                    borderColor: 'rgba(255, 206, 86, 1)',
                    borderWidth: 1
                }, {
                    label: 'Green',
                    data: data2.map(item => item.GreenCount),
                    backgroundColor: 'rgba(75, 192, 192, 0.4)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1
                }
            ]
        },
        options: {
            scales: {
                x: {
                    stacked: true,
                    title: {
                        display: true,
                        text: 'Service Standard Point'
                    }
                },
                y: {
                    stacked: true,
                    title: {
                        display: true,
                        text: 'Count of assessments'
                    }
                }
            }
        }
    });

    function getColorForOutcome(outcome) {
        switch (outcome) {
            case 'Red':
                return 'rgba(255, 99, 132, 0.4)';
            case 'Amber':
                return 'rgba(255, 206, 86, 0.4)';
            case 'Green':
                return 'rgba(75, 192, 192, 0.4)';
            default:
                return 'grey';
        }
    }
    function getBGColorForOutcome(outcome) {
        switch (outcome) {
            case 'Red':
                return 'rgba(255, 99, 132, 1)';
            case 'Amber':
                return 'rgba(255, 206, 86, 1)';
            case 'Green':
                return 'rgba(75, 192, 192, 1)';
            default:
                return 'grey';
        }
    }
</script>

{% endblock %}