{% extends "layouts/auth.html" %}

{% set selectedNav = "Admin" %}
{% set pageName = "Your dashboard" %}
{% set view = "dashboard" %}

{% block hero %}
{% include './_header.html' %}
{% endblock %}


{# Loop the filteredData JSON array and create a new array where the Status parameter contains each of these statuses
{% set statuses = ['New', 'Team Review', 'SA Review', 'SA Publish', 'Active'] %}
#}

{% set statuses = ['New', 'Team Review', 'SA Review', 'SA Publish', 'Active'] %}
{% set newRequests = [] %}
{% set teamReviewRequests = [] %}
{% set saReviewRequests = [] %}
{% set saPublishRequests = [] %}
{% set activeRequests = [] %}

{% for record in filteredData %}
{% if record.Status == 'New' %}
{% set newRequests = newRequests.concat(record) %}
{% endif %}
{% if record.Status == 'Team Review' %}
{% set teamReviewRequests = teamReviewRequests.concat(record) %}
{% endif %}
{% if record.Status == 'SA Review' %}
{% set saReviewRequests = saReviewRequests.concat(record) %}
{% endif %}
{% if record.Status == 'SA Publish' %}
{% set saPublishRequests = saPublishRequests.concat(record) %}
{% endif %}
{% if record.Status == 'Active' and not record.AssessmentDateTime %}
{% set activeRequests = activeRequests.concat(record) %}
{% endif %}
{% endfor %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">
                    New requests
                </h2>
            </div>
            <div class="govuk-summary-card__content">
                {% if new | length > 0%}
                {% include './_basictable.html' %}
                {% else %}
                <p class="govuk-!-margin-bottom-0">No new requests.</p>
                {% endif %}

            </div>
        </div>


        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">
                    Requests with no assessment date
                </h2>
            </div>
            <div class="govuk-summary-card__content">
                {% if activeRequests | length > 0%}
                {% include './_basictable.html' %}
                {% else %}
                <p class="govuk-!-margin-bottom-0">No assessments without a date.</p>
                {% endif %}

            </div>
        </div>


        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">
                    Reports to send to the team
                </h2>
            </div>
            <div class="govuk-summary-card__content">
                {% if saReviewRequests | length > 0%}
                {% include './_basictable.html' %}
                {% else %}
                <p class="govuk-!-margin-bottom-0">No reports ready to send to the team.</p>
                {% endif %}

            </div>
        </div>


        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">
                    Reports the team are reviewing
                </h2>
            </div>
            <div class="govuk-summary-card__content">
                {% if teamReviewRequests | length > 0%}
                {% include './_basictable.html' %}
                {% else %}
                <p class="govuk-!-margin-bottom-0">No reports being reviewed by teams.</p>
                {% endif %}

            </div>
        </div>

        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">
                    Reports to be published
                </h2>
            </div>
            <div class="govuk-summary-card__content">
                {% if saPublishRequests | length > 0%}
                {% include './_basictable.html' %}
                {% else %}
                <p class="govuk-!-margin-bottom-0">No reports waiting to be published.</p>
                {% endif %}

            </div>
        </div>


    </div>
</div>
{% endblock %}