{% extends "layouts/auth.html" %}

{% set selectedNav = "Admin" %}
{% set pageName = 'Remove administrator' %}
{% set view = 'admins' %}

{% block hero %}

{% include './_header.html' %}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">Remove administrator</h2>

                <ul class="govuk-summary-card__actions">
                    <li class="govuk-summary-card__action">
                        <a class="govuk-link govuk-link--no-visited-state"
                            href="/admin/admins">Cancel</a>
                    </li>
                </ul>
            </div>
            <div class="govuk-summary-card__content">

                <form action="/admin/remove-admin" method="post" novalidate>
                    <input type="hidden" name="userRoleID" value="{{ admin.UserRoleID }}">

                    <h2 class="govuk-heading-m">Are you sure you want to remove {{admin.FirstName}} as an administrator?
                    </h2>

                    <dl class="govuk-summary-list govuk-!-margin-bottom-5">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Name</dt>
                            <dd class="govuk-summary-list__value">{{admin.FirstName}}
                                {{admin.LastName}}</dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Role</dt>
                            <dd class="govuk-summary-list__value">{{admin.UserRole}}</dd>
                        </div>
                    </dl>

                    <div class="govuk-button-group">
                        <button name="action" class="govuk-button govuk-button--warning"
                            data-module="govuk-button">Confirm removal</button>
                        <a href="/admin/admins" class="govuk-link">Cancel and return to
                            admins</a>
                    </div>
                </form>

            </div>
        </div>

    </div>
    <div class="govuk-grid-column-one-third">
       
    </div>
</div>


{% endblock %}