{% extends "layouts/auth.html" %}

{% set selectedNav = "Admin" %}
{% set pageName = 'Remove training' %}
{% set view = 'assessors' %}

{% block hero %}

{% include './_header.html' %}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">Remove training</h2>

                <ul class="govuk-summary-card__actions">
                    <li class="govuk-summary-card__action">
                        <a class="govuk-link govuk-link--no-visited-state"
                            href="/admin/assessor/{{assessor.AssessorID}}">Cancel</a>
                    </li>
                </ul>
            </div>
            <div class="govuk-summary-card__content">

                <form action="/admin/remove-training" method="post" novalidate>
                    <input type="hidden" name="uniqueID" value="{{ training.UniqueID }}">

                    <h2 class="govuk-heading-m">Are you sure you want to remove this training record?
                    </h2>

                    <dl class="govuk-summary-list govuk-!-margin-bottom-5">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Name</dt>
                            <dd class="govuk-summary-list__value">{{assessor.FirstName}}
                                {{assessor.LastName}}</dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Training</dt>
                            <dd class="govuk-summary-list__value">{{training.Training}}</dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Provider</dt>
                            <dd class="govuk-summary-list__value">{{training.Provider}}</dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Date</dt>
                            <dd class="govuk-summary-list__value">{{training.Date | date("D MMMM YYYY")}}</dd>
                        </div>
                    </dl>

                    <div class="govuk-button-group">
                        <button name="action" class="govuk-button govuk-button--warning"
                            data-module="govuk-button">Confirm removal</button>
                        <a href="/admin/assessor/{{assessor.AssessorID}}" class="govuk-link">Cancel and return to
                            assessor profile</a>
                    </div>
                </form>

            </div>
        </div>

    </div>
    <div class="govuk-grid-column-one-third">
       
    </div>
</div>


{% endblock %}