{% set showOutcome = false %}
{% for record in assessments %}
{% if record.Status == "Team Review" or record.Status == "SA Publish" or record.Status == "Published" %}
{% set showOutcome = true %}
{% endif %}
{% endfor %}


<table class="govuk-table ">
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-!-width-one-third">Service</th>
            <th scope="col" class="govuk-table__header">Type</th>
            <th scope="col" class="govuk-table__header">Phase</th>
            <th scope="col" class="govuk-table__header">Date</th>
            {% if showOutcome == true%}
            <th scope="col" class="govuk-table__header">Outcome</th>
            {% endif %}
        </tr>
    </thead>
    <tbody class="govuk-table__body">
        {% for record in assessments %}
        {% if record.Status !== 'Draft' %}
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
                <a href="/{{selectedNav | lower}}/overview/{{record.AssessmentID}}"
                    class="govuk-link govuk-link--no-visited-state">
                    {{record.Name}}
                </a>
            </th>
            <td class="govuk-table__cell">{{record.Type}}</td>
            <td class="govuk-table__cell">{{record.Phase}}</td>
            <td class="govuk-table__cell">
                {% if record.AssessmentDateTime %}{{record.AssessmentDateTime | date('D MMM YYYY')}}
                {% else %}Date not set{% endif %}
            </td>
            {% if showOutcome == true%}
            <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--{{record.Outcome | lower}}">{{record.Outcome}}</strong>
            </td>
            {% endif %}
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>