<div class="dfe-cta-panel" style="background: #ffffff; border: 1px solid #b1b2b3;">
    <h2 class="govuk-heading-m">Apply the Service Standard</h2>
    <p>Use Apply the Service Standard to understand how to embed the Service Standard into your work.</p>
    <p class="govuk-!-margin-bottom-0">
        <a class="govuk-link" href="https://apply-the-service-standard.education.gov.uk" target="_blank">Visit the <span
                class="govuk-visually-hidden">apply the service standard</span> service <span class="govuk-visually-hidden">(opens in new tab)</span></a>
    </p>
</div>