{% extends "layouts/auth.html" %}

{% set selectedNav = "Manage" %}
{% set pageName = "Your dashboard" %}
{% set view = "dashboard"%}

{% block hero %}
<div class="dfe-page-header dfe-page-header--with-sub-nav">
    <div class="govuk-width-container dfe-width-container ">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <span class="govuk-caption-l">Manage</span>
                <h1 class="govuk-heading-l">Your dashboard</h1>
                <nav class="app-sub-navigation" aria-label="Application menu">
                    <ul class="app-sub-navigation__list">
                        <li class="app-sub-navigation__item">
                            <a class="app-sub-navigation__link" {% if view==='dashboard' %} aria-current="page" {% endif
                                %} href="/manage">Dashboard</a>
                        </li>
                        <li class="app-sub-navigation__item">
                            <a class="app-sub-navigation__link" {% if view==='previous' %} aria-current="page" {% endif
                                %} href="/manage/previous">Previous</a>
                        </li>

                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% set hasTasks = false %}
{% for record in assessments %}
{% if record.Status === 'Team Review' %}
{% set hasTasks = true %}
{% endif %}
{% endfor %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">



        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">Your tasks</h2>
            </div>
            <div class="govuk-summary-card__content">


                {% if hasTasks %}
                <ul class="govuk-task-list govuk-!-margin-bottom-0">


                    {% for assessment in assessments %}
                    {% if assessment.Status === 'Team Review' %}
                    <li class="govuk-task-list__item govuk-task-list__item--with-link">
                        <div class="govuk-task-list__name-and-hint">
                            <a class="govuk-link govuk-task-list__link"
                                href="/manage/report/{{assessment.AssessmentID}}"
                                aria-describedby="task-send-report-status">View and accept report</a>
                        </div>
                        <div class="govuk-task-list__status" id="add-assessor-status">
                            <strong class="govuk-tag govuk-tag--blue">To do</strong>
                        </div>
                    </li>
                    {% endif %}
                    {% endfor %}




                </ul>

                {% else %}

                <p>You don't have any tasks that require your attention.</p>

                {% endif %}
            </div>
        </div>


        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">Your services being assessed</h2>
            </div>
            <div class="govuk-summary-card__content"> 

                {% set hasAssessments = false %}

                {% for record in assessments %}
                {% if record.Status !== 'Draft' %}
                {% set hasAssessments = true %}
                {% endif %}
                {% endfor %}

           

                
                {% if hasAssessments %}
                <table class="govuk-table ">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header govuk-!-width-one-third">Service</th>
                            <th scope="col" class="govuk-table__header">Phase</th>
                            <th scope="col" class="govuk-table__header">Type</th>
                            <th scope="col" class="govuk-table__header">Assessment date</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        {% for record in assessments %}
                        {% if record.Status !== 'Draft' %}
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">
                                <a href="/manage/overview/{{record.AssessmentID}}"
                                    class="govuk-link govuk-link--no-visited-state">
                                    {{record.Name}}
                                </a>
                            </th>
                            <td class="govuk-table__cell">{{record.Phase}}</td>
                            <td class="govuk-table__cell">{{record.Type}}</td>
                            <td class="govuk-table__cell">
                                {% if record.AssessmentDateTime %}{{record.AssessmentDateTime | date('D MMMM YYYY')}}
                                {% else %}Date not set{% endif %}
                            </td>
                        </tr>
                        {% endif %}
                        {% endfor %}

                    </tbody>
                </table> {% else %}
                <p>You don't have any assessments in progress.</p>
                {% endif %}
            </div>
        </div>




    </div>

    <div class="govuk-grid-column-one-quarter">

        <aside class="dfe-aside">
            <h2 class="govuk-heading-m">Related guidance</h2>
            <ul class="govuk-list govuk-list--spaced">
                <li>
                    <a href="https://apply-the-service-standard.education.gov.uk/"
                        target="_blank">Apply the Service Standard in DfE</a>
                </li>
                                <li>
                    <a href="https://apply-the-service-standard.education.gov.uk/service-assessments"
                        target="_blank">Service assessments and discovery peer reviews</a>
                </li>
            </ul>
        </aside>
    </div>
</div>

{% endblock %}