{% extends "layouts/auth.html" %}

{% set selectedNav = "Book" %}

{% set pageName = "Who is the digital deputy director of your portfolio?" %}

{% set hasEmailError = false %}
{% set hasFirstNameError = false %}
{% set hasLastNameError = false %}

{% for error in errors %}
{% if error.path === 'ddemail' %}
{% set hasEmailError = true %}
{% endif %}
{# {% if error.path === 'ddfirstName' %}
{% set hasFirstNameError = true %}
{% endif %}
{% if error.path === 'ddlastName' %}
{% set hasLastNameError = true %}
{% endif %} #}
{% endfor %}


{% block hero %}
<div class="dfe-page-header">
    <div class="govuk-width-container dfe-width-container ">
        <a href="/book/request/portfolio" class="govuk-back-link">Back</a>
        <div class="govuk-grid-row">

            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-l">Book</h1>

            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            
            {% include 'partials/errorSummary.html' %}

            <h2 class="govuk-heading-l">{{pageName}}</h2>

            <form action="/book/request/dd" method="post" novalidate="novalidate" class="govuk-!-margin-bottom-9">
                <div class="govuk-form-group {%if hasEmailError%}govuk-form-group--error{% endif%} govuk-!-margin-top-5">

                    <label class="govuk-label" for="ddemail">Enter their email address</label>
                    {%if hasEmailError %}
                        <p id="event-name-error" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span>Enter a valid email address</p>
                    {% endif %}
                    <input class="govuk-input {%if hasEmailError%} govuk-input--error{% endif%}" id="ddemail" name="ddemail" type="email" spellcheck="false" aria-describedby="email-hint" autocomplete="email" value="{{userDetails.EmailAddress}}">
                </div>

                {# <div class="govuk-form-group {%if hasFirstNameError%}govuk-form-group--error{% endif%}  govuk-!-margin-top-5">

                    <label class="govuk-label" for="ddfirstName">Enter their first name</label>
                    {%if hasFirstNameError %}
                        <p id="event-name-error" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span>Enter their first name</p>
                    {% endif %}
                    <input class="govuk-input {%if hasFirstNameError%} govuk-input--error{% endif%}" id="ddfirstName" name="ddfirstName" type="text" spellcheck="false" aria-describedby="firstName-hint" autocomplete="firstName" value="{{userDetails.FirstName}}">
                </div>

                <div class="govuk-form-group {%if hasLastNameError%}govuk-form-group--error{% endif%}  govuk-!-margin-top-5">

                    <label class="govuk-label" for="lastName">Enter their last name</label>
                    {%if hasLastNameError %}
                        <p id="event-name-error" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span>Enter their last name</p>
                    {% endif %}
                    <input class="govuk-input {%if hasLastNameError%} govuk-input--error{% endif%}" id="ddlastName" name="ddlastName" type="text" spellcheck="false" aria-describedby="lastName-hint" autocomplete="lastName" value="{{userDetails.LastName}}">
                </div> #}

                <div class="govuk-button-group">
                    <button class="govuk-button" data-module="govuk-button">Save and continue</button>
                    <a class="govuk-link govuk-link--no-visited-state" href="/book/request/tasks">Skip and return to later</a>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}