{% extends "layouts/auth.html" %}

{% set selectedNav = "Book" %}
{% set pageName = "Select the type of assurance you need" %}

{% block hero %}
<div class="dfe-page-header">
    <div class="govuk-width-container dfe-width-container ">
        <a href="/book/request/phase" class="govuk-back-link">Back</a>
        <div class="govuk-grid-row">

            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-l">Book</h1>

            </div>
        </div>
    </div>

</div>
{% endblock %}

{% set hasError = false %}
{% for error in errors %}
{% if error.path === 'Type' %}
{% set hasError = true %}
{% endif %}
{% endfor %}


{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form method="post" action="/book/request/type">

            {% if model.Phase === "Discovery" %}

            <div class="dfe-panel--interruption">
                <input type="hidden" name="Type" value="Peer review">

                <h2 class="govuk-heading-l">
                    You've said you're in the discovery phase
                </h2>

                <p class="govuk-body">
                    At the moment, you can only have a discovery peer review.
                </p>

                <p class="govuk-body">
                    You can read the guidance for <a class="govuk-link govuk-link--inverse" href="https://apply-the-service-standard.education.gov.uk/service-assessments/discovery-peer-review"  target="_blank">what happens at a
                        peer
                        review <span class="govuk-visually-hidden">(opens in new tab)</span></a> and <a class="govuk-link govuk-link--inverse" href="https://apply-the-service-standard.education.gov.uk/service-assessments/discovery-peer-review#what-to-prepare-for-a-discovery-peer-review">how to prepare for a peer
                        review</a>.
                </p>

                <div class="govuk-button-group">
                    <button class="govuk-button  govuk-button--inverse" data-module="govuk-button">Continue with your
                        request</button>
                    <a class="govuk-link govuk-link--inverse" href="/book/request/phase">Change phase</a>
                </div>
            </div>

            {% else %}

            <div class="dfe-panel--interruption">
                <input type="hidden" name="Type" value="Service assessment">

                <h2 class="govuk-heading-l">
                    You're in the {{model.Phase | lower}} phase
                </h2>

                <p class="govuk-body">
                    You need a service assessment.
                </p>

                <p class="govuk-body">
                    You can read the guidance for <a class="govuk-link govuk-link--inverse" href="https://apply-the-service-standard.education.gov.uk//service-assessments/assessments" target="_blank">what happens at a
                        service
                        assessment <span class="govuk-visually-hidden">(opens in a new tab)</span></a> and how to prepare for one.
                </p>

                <div class="govuk-button-group">
                    <button class="govuk-button  govuk-button--inverse" data-module="govuk-button">Continue with your
                        request</button>
                    <a class="govuk-link govuk-link--inverse" href="/book/request/phase">Change phase</a>
                </div>
            </div>

            {% endif %}

        </form>
    </div>
</div>

{% endblock %}