{% extends "layouts/auth.html" %}

{% set selectedNav = "Assess" %}
{% set pageName = "Request submitted" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-panel govuk-!-margin-bottom-5 govuk-panel--confirmation govuk-!-text-align-left">
                <h1 class="govuk-panel__title">{{pageName}}</h1>
                <div class="govuk-panel__body">
We've sent your request to the Service Assessment Plus team.
                </div>
            </div>
            <p>We've also sent you an email confirming your request.</p>
            <h2 class="govuk-heading-m">What happens next</h2>
            <p>The Service Assessment Plus team will email you within a few working days to confirm the outcome of your request.</p>

            <p>The assessments page won't show pending requests from you, or others who may have volunteered, until accepted by the Service Assessment Plus team.</p>

            <p>You can go back to <a href="/volunteer" class="govuk-link govuk-link--no-visited-state">view other upcoming assessments</a>.</p>

        </div>
    </div>
{% endblock %}