{% extends "layouts/auth_layout.html" %}

{% set selectedNav = "Manage" %}
{% set pageName = 'Add panel member' %}
{% set view = 'panel' %}

{% block hero %}
{% include './_header.html' %}
{% endblock %}

{% set assessorError = false %}
{% set roleError = false %}

{% for error in errors %}
{% if error.field === 'Assessor' %}
{% set assessorError = true %}
{% endif %}
{% if error.field === 'Role' %}
{% set roleError = true %}
{% endif %}
{% endfor %}

{% block content %}

<div class="dfe-panel">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                    <h2 class="govuk-summary-card__title">Add panel member</h2>

                  
                </div>
                <div class="govuk-summary-card__content">

                    <form action="/manage/add-panel" method="post" novalidate>
                        <input type="hidden" name="AssessmentID" value="{{ assessment.AssessmentID }}">

                        {% if errors %}
                        <div class="govuk-error-summary" data-module="govuk-error-summary">
                            <div role="alert">
                                <h2 class="govuk-error-summary__title">There is a problem</h2>
                                <div class="govuk-error-summary__body">
                                    <ul class="govuk-list govuk-error-summary__list">
                                        {% for error in errors %}
                                        <li>
                                            <a href="#{{error.field}}">{{error.message}}</a>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        {% endif %}

                        <div class="govuk-form-group {%if assessorError%}govuk-form-group--error{% endif%}">
                            <legend class="govuk-fieldset__legend">
                                Select an assessor
                            </legend>
                            {%if assessorError %}
                            <p id="event-role-error" class="govuk-error-message">
                                <span class="govuk-visually-hidden">Error:</span>Select an assessor
                            </p>
                            {% endif %}
                            <select class="govuk-select   govuk-!-width-one-half assessor" id="Assessor"
                                name="Assessor">
                                <option value=""></option>
                                {% for assessor in assessors %}
                                <option value="{{assessor.AssessorID}}">{{assessor.FirstName}}
                                    {{assessor.LastName}}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="govuk-form-group {%if roleError%}govuk-form-group--error{% endif%}">
                            <legend class="govuk-fieldset__legend">
                                What is their role?
                            </legend>
                            {%if roleError %}
                            <p id="event-role-error" class="govuk-error-message">
                                <span class="govuk-visually-hidden">Error:</span>Select a role
                            </p>
                            {% endif %}
                            <select class="govuk-select govuk-!-width-one-half role" id="Role" name="Role">
                                {% include "./_panelroles.html" %}
                            </select>
                        </div>

                        <div class="govuk-button-group">
                            <button name="action" class="govuk-button" data-module="govuk-button">Save and
                                return</button>
                            <a href="/manage/team/{{assessment.AssessmentID}}" class="govuk-link">Cancel and return to
                                team</a>
                        </div>

                    </form>

                </div>
            </div>
        </div>
        <div class="govuk-grid-column-one-third">
            <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">

                    <h2 class="govuk-summary-card__title">Guidance</h2>

                </div>
                <div class="govuk-summary-card__content">
                    <ul class="govuk-list govuk-list--spaced">
                        <li>
                            <a href="https://apply-service-standard-staging-7f500b6e58fb.herokuapp.com/service-assurance/types-of-assurance"
                                target="_blank">Who you should add to your team</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script>
    accessibleAutocomplete.enhanceSelectElement({ defaultValue: '', selectElement: document.querySelector('.assessor') })
    accessibleAutocomplete.enhanceSelectElement({ defaultValue: '', selectElement: document.querySelector('.role') })
</script>
{% endblock %}