{% extends "layouts/auth_layout.html" %}

{% set selectedNav = "Manage" %}
{% set pageName = 'Artefacts' %}

{% block hero %}

    {% include './_header.html' %}
{% endblock %}

{% block content %}

    <div class="dfe-panel">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <div class="govuk-summary-card">
                    <div class="govuk-summary-card__title-wrapper">
                        <h2 class="govuk-summary-card__title">Artefacts</h2>
                        {% if assessment.Status !== "Published" and isUserInTeam === true %}
                            <ul class="govuk-summary-card__actions">
                                <li class="govuk-summary-card__action">
                                    <a class="govuk-link govuk-link--no-visited-state" href="/manage/add-artefact/{{assessment.AssessmentID}}">Add artefact</a>
                                </li>
                            </ul>
                        {% endif %}
                    </div>
                    <div class="govuk-summary-card__content">

                        {% if artefacts.length %}

                            <dl class="govuk-summary-list">
                                {% for artefact in artefacts %}
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">
                                            <a href="{{artefact.URL}}" target="_blank" class="govuk-link govuk-link--no-visited-state">{{artefact.Title}}</a>
                                        </dt>
                                        <dd class="govuk-summary-list__value">{{artefact.Description}}</dd>
                                        <dd class="govuk-summary-list__actions">
                                            {% if assessment.Status !== "Published" %}
                                            <a class="govuk-link" href="/manage/remove-artefact/{{artefact.ArtefactID}}/{{artefact.UniqueID}}">Remove<span class="govuk-visually-hidden"> artefact name, {{artefact.Title}}</span></a>
                                            {% endif %}
                                        </dd>
                                    </div>
                                {% endfor %}
                            </dl>
                        {% else %}
                            <p>No artefacts have been added.</p>
                        {% endif %}

                    </div>
                </div>

            </div>
            <div class="govuk-grid-column-one-third">
                <div class="govuk-summary-card">
                    <div class="govuk-summary-card__title-wrapper">

                        <h2 class="govuk-summary-card__title">Guidance</h2>

                    </div>
                    <div class="govuk-summary-card__content">
                          <ul class="govuk-list govuk-list--spaced">
                    <li>
                        <a href="https://apply-service-standard-staging-7f500b6e58fb.herokuapp.com/service-assurance/types-of-assurance" target="_blank">What artefacts you should add</a>
                    </li>

                </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}