{% extends "layouts/auth.html" %}

{% set selectedNav = "Manage" %}
{% set pageName = assessment.Name %}
{% set view = "overview" %}

{% block hero %}
{% include './_header.html' %}
{% endblock %}


{% block content %}

    <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

           
            {% include "./_tasks.html" %}
            {% include "./_description.html" %}
         
        </div>

        <div class="govuk-grid-column-one-third">
            <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                    <h2 class="govuk-summary-card__title">Assessment history</h2>
                </div>
                <div class="govuk-summary-card__content">
                    <p>We can't show this at the moment.</p>
    
                    <p class="govuk-!-margin-bottom-0">Speak to the Service Assessment
                        Plus team for any previous reports.</p>
                </div>
            </div>
        </div>
    </div>


{% endblock %}