{% extends "layouts/auth.html" %}

{% set selectedNav = "Manage" %}
{% set pageName = 'Panel' %}
{% set view = 'panel' %}

{% block hero %}

{% include './_header.html' %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
   
    <div class="govuk-grid-column-full">
        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">Assessment panel</h2>
            </div>
            <div class="govuk-summary-card__content">
                {% if panel.length %}
                <dl class="govuk-summary-list">
                    {% for member in panel %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            {{member.Role}}
                        </dt>
                        <dd class="govuk-summary-list__value">{{member.FirstName}}
                            {{member.LastName}} {% if member.ExternalAssessor %}(External){% endif %}<br /><span
                                class="govuk-body govuk-body-s lighter-text"><a
                                    href="mailto:{{member.EmailAddress}}?subject={{assessment.Name}}"
                                    class="govuk-link govuk-link--no-visited-state">{{member.EmailAddress}}</a></span>
                        </dd>
                        <dd class="govuk-summary-list__actions">
                        </dd>
                    </div>
                    {% endfor %}
                </dl>
                {% else %}
                <p>No panel members have been added.</p>
                <p>The panel is managed by the Service Assessment Plus team</p>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="govuk-grid-column-one-third">
       
    </div>
</div>


{% endblock %}