{% extends "layouts/auth.html" %}

{% set selectedNav = "Manage" %}
{% set pageName = 'Remote team member' %}
{% set view = 'team' %}

{% block hero %}

{% include './_header.html' %}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">Remove team member</h2>

                <ul class="govuk-summary-card__actions">
                    <li class="govuk-summary-card__action">
                        <a class="govuk-link govuk-link--no-visited-state"
                            href="/manage/team/{{assessment.AssessmentID}}">Cancel</a>
                    </li>
                </ul>
            </div>
            <div class="govuk-summary-card__content">

                <form action="/manage/remove-team" method="post" novalidate>
                    <input type="hidden" name="AssessmentID" value="{{ assessment.AssessmentID }}">
                    <input type="hidden" name="ID" value="{{ team.ID }}">
                    <input type="hidden" name="UniqueID" value="{{ team.UniqueID }}">

                    <h2 class="govuk-heading-m">Are you sure you want to remove this team member?</h2>

                    <dl class="govuk-summary-list govuk-!-margin-bottom-5">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Name</dt>
                            <dd class="govuk-summary-list__value">{{team.FirstName}} {{team.LastName}}</dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Role</dt>
                            <dd class="govuk-summary-list__value">{{team.Role}}</dd>
                        </div>
                    </dl>

                    <div class="govuk-button-group">
                        <button name="action" class="govuk-button govuk-button--warning"
                            data-module="govuk-button">Confirm removal</button>
                        <a href="/manage/team/{{assessment.AssessmentID}}" class="govuk-link">Cancel and return to
                            team</a>
                    </div>
                </form>

            </div>
        </div>

    </div>
    <div class="govuk-grid-column-one-third">
        <aside class="dfe-aside">
            <h2 class="govuk-heading-m">Related guidance</h2>

            <p>You should add people who are involved in the assessment process.</p>

        </aside>
    </div>
</div>

{% endblock %}