{% extends "layouts/auth.html" %}

{% set selectedNav = "Manage" %}
{% set pageName = 'Report' %}
{% set view = 'report' %}

{% block hero %}
    {% include './_header.html' %}
{% endblock %}

{% block content %}

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-l">Report not ready</h2>
                <p>Once the assessment panel have completed the report you will be able to view it here before it's published.</p>
            </div>
            <div class="govuk-grid-column-one-third">
                <aside class="dfe-aside">
                    <h2 class="govuk-heading-m">Related guidance</h2>
                    <ul class="govuk-list govuk-list--spaced">
                        {% if assessment.Type === "Service assessment" %}
                        <li>
                            <a href="https://apply-the-service-standard.education.gov.uk/service-assessments/service-assessment-report" target="_blank">Getting your report</a>
                        </li>
                        {% endif %}
                        {% if assessment.Type === "Peer review" %}
                        <li>
                            <a href="https://apply-the-service-standard.education.gov.uk/service-assessments/discovery-peer-review#your-discovery-peer-review-report" target="_blank">Getting your report</a>
                        </li>
                        {% endif %}
                    </ul>
                </aside>
            </div>
        </div>


{% endblock %}