{% extends "layouts/auth.html" %}
{% set selectedNav = "Manage" %}
{% set view = "request" %}
{% set pageName = "Request" %}
{% block hero %}
{% include './_header.html' %}
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h2 class="govuk-heading-l">Request details</h2>

        
        <p>It's not possible to change these details here at the moment. If you need to change anything contact the <a href="mailto:ServiceAssessment.PLUS@education.gov.uk?subject=Request info change&body=Change information in the request for: {{assessment.Name}}">Service Assessment Plus team</a>.</p>
       



        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Type
                </dt>
                <dd class="govuk-summary-list__value">
                    {{assessment.Type}}
                </dd>
                <dd class="govuk-summary-list__actions">
                   
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Phase
                </dt>
                <dd class="govuk-summary-list__value">
                    {{assessment.Phase}}
                </dd>
                <dd class="govuk-summary-list__actions">
                  
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Service
                </dt>
                <dd class="govuk-summary-list__value">
                    {{assessment.Name}}
                </dd>
                <dd class="govuk-summary-list__actions">
                  
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Description
                </dt>
                <dd class="govuk-summary-list__value">
                    {{assessment.Description}}
                </dd>
                <dd class="govuk-summary-list__actions">
                    
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Project code
                </dt>
                <dd class="govuk-summary-list__value">
                    {% if assessment.ProjectCodeYN === "Yes" %}
                    {{assessment.ProjectCode}}
                    {% elseif assessment.ProjectCodeYN === "No" %}
                    Project code not known
                    {% endif %}
                </dd>
                <dd class="govuk-summary-list__actions">
                  
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Phase start date
                </dt>
                <dd class="govuk-summary-list__value">
                    {% if assessment.StartDate %}
                    {{assessment.StartDate | date('D MMM YYYY')}}
                    {% endif %}
                </dd>
                <dd class="govuk-summary-list__actions">
                  
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Phase end date
                </dt>
                <dd class="govuk-summary-list__value">
                    {% if assessment.EndDateYN === "Yes"%}
                    {{assessment.EndDate | date('D MMM YYYY')}}
                    {% elseif assessment.EndDateYN === "No"%}End date not known{% endif%}
                </dd>
                <dd class="govuk-summary-list__actions">
                   
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Requested weeks
                </dt>
                <dd class="govuk-summary-list__value">
                    {% if assessment.RequestedWeeks %}
                    <ul class="govuk-list">
                        {% for item in (assessment.RequestedWeeks | split(",")) %}
                        <li>{{ item }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </dd>
                <dd class="govuk-summary-list__actions">
                   
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Portfolio
                </dt>
                <dd class="govuk-summary-list__value">
                    {{assessment.Portfolio}}
                </dd>
                <dd class="govuk-summary-list__actions">
                   
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Deputy director
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ddDetails.FirstName}}
                    {{ddDetails.LastName}}<br />
                    {{ddDetails.EmailAddress}}
                </dd>
                <dd class="govuk-summary-list__actions">
                   
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Product manager
                </dt>
                <dd class="govuk-summary-list__value">
                    {% if assessment.PMYN === "Yes" %}
                    {{pmDetails.FirstName}}
                    {{pmDetails.LastName}}<br />
                    {{pmDetails.EmailAddress}}
                    {%elseif assessment.PMYN === "No" %} No product manager {% else%}
                    {% endif %}
                </dd>
                <dd class="govuk-summary-list__actions">
                 
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Delivery manager
                </dt>
                <dd class="govuk-summary-list__value">
                    {% if assessment.DMYN === "Yes" %}
                    {{dmDetails.FirstName}}
                    {{dmDetails.LastName}}<br />
                    {{dmDetails.EmailAddress}}
                    {%elseif assessment.DMYN === "No" %} No delivery manager {% else%}
                    {% endif %}
                </dd>
                <dd class="govuk-summary-list__actions">
                   
                </dd>
            </div>

        </dl>




    </div>

</div>
{% endblock %}