

<nav class="dfe-vertical-nav">
    <a href="/features/" class="govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-9">Back to features</a>
    <ul class="dfe-vertical-nav__section">
        <li class="dfe-vertical-nav__section-item {% if view == 'overview' %}dfe-vertical-nav__section-item--current {% endif %}">        
            <a class="dfe-vertical-nav__link" href="/features/installation/">Overview</a>
        </li>
        <li class="dfe-vertical-nav__section-item {% if view == 'fork' %}dfe-vertical-nav__section-item--current {% endif %}">        
            <a class="dfe-vertical-nav__link" href="/features/installation/fork">Fork the repo</a>
        </li>
        <li class="dfe-vertical-nav__section-item {% if view == 'hosting' %}dfe-vertical-nav__section-item--current {% endif %}">        
            <a class="dfe-vertical-nav__link" href="/features/installation/hosting">Hosting setup</a>
        </li>
        <li class="dfe-vertical-nav__section-item {% if view == 'database' %}dfe-vertical-nav__section-item--current {% endif %}">        
            <a class="dfe-vertical-nav__link" href="/features/installation/database">Database setup</a>
        </li>
        <li class="dfe-vertical-nav__section-item {% if view == 'notify' %}dfe-vertical-nav__section-item--current {% endif %}">        
            <a class="dfe-vertical-nav__link" href="/features/installation/notify">Notify setup</a>
        </li>
        <li class="dfe-vertical-nav__section-item {% if view == 'local' %}dfe-vertical-nav__section-item--current {% endif %}">        
            <a class="dfe-vertical-nav__link" href="/features/installation/local">Running locally</a>
        </li>
        <li class="dfe-vertical-nav__section-item {% if view == 'env' %}dfe-vertical-nav__section-item--current {% endif %}">        
            <a class="dfe-vertical-nav__link" href="/features/installation/env">Environment settings</a>
        </li>
        <li class="dfe-vertical-nav__section-item {% if view == 'admin' %}dfe-vertical-nav__section-item--current {% endif %}">        
            <a class="dfe-vertical-nav__link" href="/features/installation/admin">Create an admin</a>
        </li>
        <li class="dfe-vertical-nav__section-item {% if view == 'deployment' %}dfe-vertical-nav__section-item--current {% endif %}">        
            <a class="dfe-vertical-nav__link" href="/features/installation/deployment">Deployment</a>
        </li>
    </ul>
</nav>

