<ul class="govuk-task-list govuk-!-margin-bottom-0">
    <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
            Accept or reject the booking request
        </div>
        <div class="govuk-task-list__status" id="accept-request-status">
            Completed
        </div>
    </li>

    <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
            {% if assessment.FIPS_ID %}
            <a class="govuk-link govuk-task-list__link" href="/admin/manage-fips-id/{{assessment.AssessmentID}}"
                aria-describedby="fips-id-status">Manage FIPS ID</a>
            {% else %}
            <a class="govuk-link govuk-task-list__link" href="/admin/manage-fips-id/{{assessment.AssessmentID}}"
                aria-describedby="fips-id-status">Add FIPS ID</a>
            {% endif %}
        </div>
        <div class="govuk-task-list__status" id="fips-id-status">
            {% if assessment.FIPS_ID %}
            Completed
            {% else %}
            <strong class="govuk-tag govuk-tag--blue">To do</strong>
            {% endif %}
        </div>
    </li>

    <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
            Set assessment date and time
        </div>
        <div class="govuk-task-list__status" id="set-date-status">
            Completed
        </div>
    </li>

    <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
            Add assessors to the panel
        </div>
        <div class="govuk-task-list__status" id="add-assessors-status">
            Completed
        </div>
    </li>

    <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
            Send report to team
        </div>
        <div class="govuk-task-list__status" id="send-report-status">
            Completed
        </div>
    </li>

    <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
            Team reviewing report
        </div>
        <div class="govuk-task-list__status" id="team-review-status">
            Completed
        </div>
    </li>

    {% if assessment.Outcome == 'Red' %}
    <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
            {% if assessment.SubStatusCode == null %}
            <a class="govuk-link govuk-task-list__link" href="/admin/create-reassessment/{{assessment.AssessmentID}}"
            aria-describedby="reassessment-status">Create reassessment entry</a>
            {% else %}
            <a class="govuk-link govuk-task-list__link" href="/admin/overview/{{assessment.AssessmentID}}"
            aria-describedby="reassessment-status">View reassessment entry</a>
            {% endif %}
           
        </div>
        <div class="govuk-task-list__status" id="reassessment-status">
            {% if assessment.SubStatusCode == null %}
            <strong class="govuk-tag govuk-tag--blue">To do</strong>
            {% else %}
            Completed
            {% endif %}
        </div>
    </li>
    {% endif %}


    <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
            Publish report
        </div>
        <div class="govuk-task-list__status" id="publish-report-status">
            Completed
        </div>
    </li>
</ul>