<ul class="govuk-task-list govuk-!-margin-bottom-0">

    <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
            Accept or reject the booking request
        </div>
        <div class="govuk-task-list__status" id="accept-request-status">
            Completed
        </div>
    </li>

    {% if assessment.Department == 1 %}
    <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
            {% if assessment.FIPS_ID %}
            <a class="govuk-link govuk-task-list__link" href="/admin/manage-fips-id/{{assessment.AssessmentID}}"
                aria-describedby="fips-id-status">Manage FIPS ID</a>
            {% else %}
            <a class="govuk-link govuk-task-list__link" href="/admin/manage-fips-id/{{assessment.AssessmentID}}"
                aria-describedby="fips-id-status">Add FIPS ID</a>
            {% endif %}
        </div>
        <div class="govuk-task-list__status" id="fips-id-status">
            {% if assessment.FIPS_ID %}
            Completed
            {% else %}
            <strong class="govuk-tag govuk-tag--blue">To do</strong>
            {% endif %}
        </div>
    </li>
    {% endif %}

    <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
           Set assessment date and time
        </div>
        <div class="govuk-task-list__status" id="add-date-status">
            Completed
        </div>
    </li>


    <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
            Add assessors to the panel
        </div>
        <div class="govuk-task-list__status" id="add-date-status">
            Completed
        </div>
    </li>


    <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="/admin/report/{{assessment.AssessmentID}}"
                        aria-describedby="task-send-report-status">Send report to team</a>
        </div>
        <div class="govuk-task-list__status" id="add-assessor-status">
            <strong class="govuk-tag govuk-tag--blue">To do</strong>
        </div>
    </li>

    <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
            Publish report
        </div>
        <div class="govuk-task-list__status" id="add-assessor-status">
            <strong class="govuk-tag govuk-tag--grey">Cannot start yet</strong>
        </div>
    </li>

</ul>