<ul class="govuk-task-list govuk-!-margin-bottom-0">


    <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="/manage/report/{{assessment.AssessmentID}}"
                aria-describedby="task-send-report-status">View and accept report</a>
        </div>
        <div class="govuk-task-list__status" id="add-assessor-status">
            <strong class="govuk-tag govuk-tag--blue">To do</strong>
        </div>
    </li>



</ul>