<nav class="dfe-vertical-nav">
    <ul class="dfe-vertical-nav__section">
        <li class="dfe-vertical-nav__section-item {% if view == 'overview' %}dfe-vertical-nav__section-item--current {% endif %}">        
            <a class="dfe-vertical-nav__link" href="/features">Overview</a>
        </li>
        <li class="dfe-vertical-nav__section-item {% if view == 'book' %}dfe-vertical-nav__section-item--current {% endif %}">        
            <a class="dfe-vertical-nav__link" href="/features/book">Book</a>
        </li>
        <li class="dfe-vertical-nav__section-item {% if view == 'manage' %}dfe-vertical-nav__section-item--current {% endif %}">        
            <a class="dfe-vertical-nav__link" href="/features/manage">Manage</a>
        </li>
        <li class="dfe-vertical-nav__section-item {% if view == 'assess' %}dfe-vertical-nav__section-item--current {% endif %}">        
            <a class="dfe-vertical-nav__link" href="/features/assess">Assess</a>
        </li>
        <li class="dfe-vertical-nav__section-item {% if view == 'reports' %}dfe-vertical-nav__section-item--current {% endif %}">        
            <a class="dfe-vertical-nav__link" href="/features/reports">Reports</a>
        </li>
        <li class="dfe-vertical-nav__section-item {% if view == 'admin' %}dfe-vertical-nav__section-item--current {% endif %}">        
            <a class="dfe-vertical-nav__link" href="/features/admin">Admin</a>
        </li>
        <li class="dfe-vertical-nav__section-item {% if view == 'installation' %}dfe-vertical-nav__section-item--current {% endif %}">        
            <a class="dfe-vertical-nav__link" href="/features/installation/">Installation</a>
        </li>
    </ul>
</nav>

