{% extends "layouts/auth.html" %}

{% set selectedNav = "Profile" %}
{% set pageName = "Change name" %}
{% set view = "profile" %}

{% block hero %}
<div class="dfe-page-header dfe-page-header--with-sub-nav">
    <div class="govuk-width-container dfe-width-container ">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <span class="govuk-caption-l">Profile</span>
                <h1 class="govuk-heading-l">Your profile</h1>

                <nav class="app-sub-navigation" aria-label="Application menu">
                    <ul class="app-sub-navigation__list">
                        <li class="app-sub-navigation__item">
                            <a class="app-sub-navigation__link" {% if view==='profile' %} aria-current="page" {% endif
                                %} href="/profile">Profile</a>
                        </li>
                        {% if data.User.IsAssessor == true %}
                        <li class="app-sub-navigation__item">
                            <a class="app-sub-navigation__link" {% if view==='training' %} aria-current="page" {% endif
                                %}href="/profile/assessor-training">Assessor training</a>
                        </li>
                        <li class="app-sub-navigation__item">
                            <a class="app-sub-navigation__link" {% if view==='history' %} aria-current="page" {% endif
                                %}href="/profile/assessor-history">Assessor history</a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% set hasFirstNameError = false %}
{% for error in errors %}
{% if error.path === 'firstName' %}
{% set hasFirstNameError = true %}
{% endif %}
{% endfor %}

{% set hasLastNameError = false %}
{% for error in errors %}
{% if error.path === 'lastName' %}
{% set hasLastNameError = true %}
{% endif %}
{% endfor %}


{% block content %}
<div class="govuk-grid-row">



    <div class="govuk-grid-column-three-quarters">

        {% include 'partials/errorSummary.html' %}

        <h2 class="govuk-heading-l">Update your name</h2>

        <form action="/profile/change-name" method="post" novalidate="novalidate" class="govuk-!-margin-bottom-9">


            <div
                class="govuk-form-group {%if hasFirstNameError%}govuk-form-group--error{% endif%}  govuk-!-margin-top-5">

                <label class="govuk-label" for="firstName">First name</label>
                {%if hasFirstNameError %}
                <p id="event-name-error" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span>Enter your first name
                </p>
                {% endif %}
                <input class="govuk-input govuk-!-width-one-half {%if hasFirstNameError%} govuk-input--error{% endif%}"
                    id="firstName" name="firstName" type="text" spellcheck="false" aria-describedby="firstName-hint"
                    autocomplete="firstName" value="{{data.User.FirstName}}">
            </div>

            <div
                class="govuk-form-group {%if hasLastNameError%}govuk-form-group--error{% endif%}  govuk-!-margin-top-5">

                <label class="govuk-label" for="lastName">Last name</label>
                {%if hasLastNameError %}
                <p id="event-name-error" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span>Enter your last name
                </p>
                {% endif %}
                <input class="govuk-input  govuk-!-width-one-half  {%if hasLastNameError%} govuk-input--error{% endif%}"
                    id="lastName" name="lastName" type="text" spellcheck="false" aria-describedby="lastName-hint"
                    autocomplete="lastName" value="{{data.User.LastName}}">
            </div>

            <div class="govuk-button-group">
                <button class="govuk-button" data-module="govuk-button">Update name</button>
                <a class="govuk-link govuk-link--no-visited-state" href="/profile">Cancel</a>
            </div>
    </div>
    </form>

</div>

</div>

{% endblock %}