{% set primaryLinks = [
{ "url": "/manage", "label": "Manage" },
{ "url": "/book", "label": "Book" },
{ "url": "/reports", "label": "Reports" }
] %}

{% if data.IsAdmin == true %}
{% set primaryLinks = [
  { "url": "/manage", "label": "Manage" },
  { "url": "/assess", "label": "Assess" },
  { "url": "/book", "label": "Book" },
  { "url": "/reports", "label": "Reports" },
  { "url": "/admin", "label": "Admin" }
  ] %}
{% endif %}

{% if data.IsAssessor == true and data.IsAdmin == false %}
{% set primaryLinks = [
  { "url": "/manage", "label": "Manage" },
  { "url": "/assess", "label": "Assess" },
  { "url": "/book", "label": "Book" },
  { "url": "/reports", "label": "Reports" }
  ] %}
{% endif %}





{{ header({
"showNav": "true",
"showSearch": "false",
"showUserName": "false",
"showHeaderActionLinks": "true",
"userName": "",
"userNameURL": "",
"selectedNav": selectedNav,
"logoPath": "assets/images",
"searchInputName": "searchterm",
"service": { "name": "Service assessment service" },
"headerActionLinks": [
{ "url": "/profile", "label": data.User.FirstName + " " + data.User.LastName },
{ "url": "/sign-out", "label": "Sign out" }
],
"primaryLinks": primaryLinks
}) }}