{% set primaryLinks = [
{ "url": "/manage", "label": "Manage" },
{ "url": "/assess", "label": "Assess" },
{ "url": "/book", "label": "Book" },
{ "url": "/reports", "label": "Reports" },
{ "url": "/assessments", "label": "Assessments" }
] %}

// In the above code, only allow the /admin if the IsAdmin === true
{% if data.IsAdmin == true %}
{% set primaryLinks = [
  { "url": "/manage", "label": "Manage" },
  { "url": "/assess", "label": "Assess" },
  { "url": "/book", "label": "Book" },
  { "url": "/reports", "label": "Reports" },
  { "url": "/assessments", "label": "Assessments" },
  { "url": "/action-plans", "label": "Action plans" },
  { "url": "/admin", "label": "Admin" }
  ] %}
{% endif %}



{{ header({
"showNav": "true",
"showSearch": "true",
"showUserName": "false",
"showHeaderActionLinks": "true",
"userName": "",
"userNameURL": "",
"selectedNav": selectedNav,
"logoPath": "assets/images",
"searchInputName": "searchterm",
"service": { "name": "Service assessment service" },
"headerActionLinks": [
{ "url": "/profile", "label": data.userDetails.FirstName + " " + data.userDetails.LastName },
{ "url": "/auth/sign-out", "label": "Sign out" }
],
"primaryLinks": primaryLinks
}) }}