{% extends "layouts/auth.html" %}

{% set selectedNav = "Admin" %}
{% set view = "admin" %}
{% set pageName = assessment.Name %}

{% block hero %}
    {% include './_header.html' %}
{% endblock %}

{% set hasError = false %}
{% for error in errors %}
    {% if error.path === 'process' %}
        {% set hasError = true %}
    {% endif %}
{% endfor %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">

            <h2 class="govuk-heading-l">Manage request</h2>


            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
      Primary contact email
    </dt>
                    <dd class="govuk-summary-list__value">{{primaryContactEmail}}</dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="/admin/change-primary-contact/{{assessment.AssessmentID}}">Change<span class="govuk-visually-hidden"> primary contact</span></a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Stage
    </dt>
                    <dd class="govuk-summary-list__value">
                        {% if assessment.Status === 'Active' %}
                            With assessors
                          {% elif assessment.Status === 'SA Review' %}
   With SA+ team to send to team   
   {% elif assessment.Status === 'Team Review' %}
   With the delivery team   
   {% elif assessment.Status === 'SA Publish' %}
   With SA+ team to publish   
   {% elif assessment.Status === 'Published' %}
   Published
                         {% endif %}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="/admin/change-stage/{{assessment.AssessmentID}}">Change<span class="govuk-visually-hidden"> primary contact</span></a>
                    </dd>
                </div>
            </dl>

            <h2 class="govuk-heading-l">Danger zone</h2>

            <dl class="govuk-summary-list">

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
      Delete this request
    </dt>
                    <dd class="govuk-summary-list__value"></dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="/admin/request/confirm-delete/{{assessment.AssessmentID}}">Delete<span class="govuk-visually-hidden"> request</span></a>
                    </dd>
                </div>
            </dl>

         

       

        </div>
    </div>
{% endblock %}