{% extends "layouts/auth.html" %}

{% set selectedNav = "Admin" %}
{% set pageName = "Change the portfolio this service is in" %}

{% set view = 'request' %}

{% block hero %}

{% include './_header.html' %}
{% endblock %}

{% set hasError = false %}
{% for error in errors %}
{% if error.path === 'Type' %}
{% set hasError = true %}
{% endif %}
{% endfor %}


{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form method="post" action="/admin/change-portfolio">
            <input type="hidden" name="AssessmentID" value="{{assessment.AssessmentID}}">

            <div class="govuk-form-group {%if hasError%}govuk-form-group--error{% endif%}">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h2 class="govuk-fieldset__heading">
                            {{pageName}}
                        </h2>
                    </legend>

  <div id="Portfolio-hint" class="govuk-hint">
              The current portfolio is already set.
            </div>
                    {%if hasError%}
                    <p id="event-name-error" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span> Select portfolio or arms-length body
                    </p>
                    {% endif%}
                    <div class="govuk-radios" data-module="govuk-radios">

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="Portfolio" name="Portfolio" type="radio"
                                value="Customer Experience and Design" {%if
                                assessment.Portfolio==='Customer Experience and Design' %}checked{%endif%}>
                            <label class="govuk-label govuk-radios__label" for="Portfolio">
                                Customer Experience and Design
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="Portfolio-2" name="Portfolio" type="radio"
                                value="Data" {%if assessment.Portfolio==='Data' %}checked{%endif%}>
                            <label class="govuk-label govuk-radios__label" for="Portfolio-2">
                                Data
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="Portfolio-0" name="Portfolio" type="radio"
                                value="Families" {%if assessment.Portfolio==='Families' %}checked{%endif%}>
                            <label class="govuk-label govuk-radios__label" for="portfolio-0">
                                Families group
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="Portfolio-1" name="Portfolio" type="radio"
                                value="Funding" {%if assessment.Portfolio==='Funding' %}checked{%endif%}>
                            <label class="govuk-label govuk-radios__label" for="portfolio-1">
                                Funding group
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="Portfolio-3" name="Portfolio" type="radio"
                                value="Regions" {%if assessment.Portfolio==='Regions' %}checked{%endif%}>
                            <label class="govuk-label govuk-radios__label" for="portfolio-3">
                                Regions group
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="Portfolio-4" name="Portfolio" type="radio"
                                value="Schools" {%if assessment.Portfolio==='Schools' %}checked{%endif%}>
                            <label class="govuk-label govuk-radios__label" for="portfolio-4">
                                Schools group
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="Portfolio-4a" name="Portfolio" type="radio"
                                value="Teachers" {%if assessment.Portfolio==='Teachers' %}checked{%endif%}>
                            <label class="govuk-label govuk-radios__label" for="portfolio-4a">
                                Teacher services
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="Portfolio-5" name="Portfolio" type="radio"
                                value="Skills" {%if assessment.Portfolio==='Skills' %}checked{%endif%}>
                            <label class="govuk-label govuk-radios__label" for="Portfolio-5">
                                Skills group
                            </label>
                        </div>
                        <div class="govuk-radios__divider">or</div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="Portfolio-8" name="Portfolio" type="radio"
                                value="ESFA" {%if assessment.Portfolio==='ESFA' %}checked{%endif%}>
                            <label class="govuk-label govuk-radios__label" for="portfolio-8">
                                Education and Skills Funding Agency (ESFA)
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="Portfolio-6" name="Portfolio" type="radio"
                                value="Standards and Testing Agency" {%if
                                assessment.Portfolio==='Standards and Testing Agency' %}checked{%endif%}>
                            <label class="govuk-label govuk-radios__label" for="portfolio-6">
                                Standards and Testing Agency
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="Portfolio-6a" name="Portfolio" type="radio"
                                value="Student Loans Company" {%if assessment.Portfolio==='Student Loans Company'
                                %}checked{%endif%}>
                            <label class="govuk-label govuk-radios__label" for="portfolio-6a">
                                Student Loans Company
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="Portfolio-7" name="Portfolio" type="radio"
                                value="Teaching Regulation Agency" {%if
                                assessment.Portfolio==='Teaching Regulation Agency' %}checked{%endif%}>
                            <label class="govuk-label govuk-radios__label" for="portfolio-7">
                                Teaching Regulation Agency
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="Portfolio-99" name="Portfolio" type="radio"
                                value="Other" {%if assessment.Portfolio==='Other' %}checked{%endif%}>
                            <label class="govuk-label govuk-radios__label" for="portfolio-99">
                                Other
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>


            <div class="govuk-button-group">
                <button class="govuk-button" data-module="govuk-button">Change portfolio</button>
                <a class="govuk-link govuk-link--no-visited-state"
                    href="/admin/request/{{assessment.AssessmentID}}">Cancel and return to request</a>
            </div>


        </form>
    </div>
</div>

{% endblock %}