{% extends "layouts/auth.html" %}

{% set selectedNav = "Admin" %}
{% set pageName = "Change the deputy director email" %}

{% set view = 'request' %}

{% block hero %}

{% include './_header.html' %}
{% endblock %}

{% set hasEmailError = false %}

{% for error in errors %}
{% if error.path === 'ddemail' %}
{% set hasEmailError = true %}
{% endif %}
{% endfor %}



{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {% include 'partials/errorSummary.html' %}

        <form method="post" action="/admin/change-dd">
            <input type="hidden" name="AssessmentID" value="{{assessment.AssessmentID}}">

         
            <div class="govuk-form-group {%if hasEmailError%}govuk-form-group--error{% endif%} govuk-!-margin-top-5">

                <label class="govuk-label govuk-label--l" for="ddemail">{{pageName}}</label>
                <div id="ddemail-hint" class="govuk-hint">
                    The email of the current deputy director is already set.
                  </div>
                {%if hasEmailError %}
                    <p id="event-name-error" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span>Enter a valid email address</p>
                {% endif %}
                <input class="govuk-input {%if hasEmailError%} govuk-input--error{% endif%}" id="ddemail" name="ddemail" type="email" spellcheck="false" aria-describedby="email-hint" autocomplete="email" value="{{userDetails.EmailAddress}}">
            </div>


              <div class="govuk-button-group">
                <button class="govuk-button" data-module="govuk-button">Change deputy director</button>
                <a class="govuk-link govuk-link--no-visited-state" href="/admin/request/{{assessment.AssessmentID}}">Cancel and return to request</a>
            </div>
   

        </form>
    </div>
</div>

{% endblock %}