{% extends "layouts/auth.html" %}

{% set selectedNav = "Admin" %}
{% set pageName = "Manage FIPS ID" %}

{% set view = 'request' %}

{% block hero %}

{% include './_header.html' %}
{% endblock %}

{% set hasError = false %}
{% for error in errors %}
{% if error.path === 'FIPS_ID' %}
{% set hasError = true %}
{% endif %}
{% endfor %}


{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form method="post" action="/admin/manage-fips-id">
            <input type="hidden" name="AssessmentID" value="{{assessment.AssessmentID}}">

            <div class="govuk-form-group {%if fipsIdError%}govuk-form-group--error{% endif%}">
                <h2 class="govuk-label-wrapper">
                    <label class="govuk-label govuk-label--l" for="FIPS_ID">{{pageName}}</label>
                </h2>
                <div id="FIPS_ID-hint" class="govuk-hint">
                    Enter the FIPS ID for this assessment. This is used to link the assessment with external systems.
                </div>
                {%if fipsIdError%}
                <p id="FIPS_ID-error" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span>Enter a valid FIPS ID
                </p>
                {% endif%}
                <input
                    class="govuk-input govuk-!-width-one-third {%if fipsIdError%}govuk-input--error{% endif%}"
                    id="FIPS_ID" name="FIPS_ID" type="text" value="{{assessment.FIPS_ID}}">
            </div>
        

              <div class="govuk-button-group">
                <button class="govuk-button" data-module="govuk-button">Save FIPS ID</button>
                <a class="govuk-link govuk-link--no-visited-state" href="/admin/request/{{assessment.AssessmentID}}">Cancel and return to request</a>
            </div>
   

        </form>
    </div>
</div>

{% endblock %}
