{% extends "layouts/auth.html" %}

{% set selectedNav = "Admin" %}
{% set view = "overview" %}
{% set pageName = assessment.Name %}

{% block hero %}
{% include './_header.html' %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        {% if assessment.Status == 'Rejected' %}
        <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title"
            data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__header">
                <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                    Important
                </h2>
            </div>
            <div class="govuk-notification-banner__content">
                <p class="govuk-notification-banner__heading">This assessment is no longer available.</p>
            </div>
        </div>
        {% else %}
        {% include "./_tasks.html" %}
        {% include "./_description.html" %}
        {% endif %}
    </div>


</div>
{% endblock %}