{% extends "layouts/auth.html" %}

{% set selectedNav = "Admin" %}
{% set view = "panel" %}
{% set pageName = "Add panel member" %}

{% block hero %}
{% include './_header.html' %}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">Assessment panel</h2>
                <ul class="govuk-summary-card__actions">
                    <li class="govuk-summary-card__action">
                        <a class="govuk-link govuk-link--no-visited-state"
                            href="/admin/add-panel/{{assessment.AssessmentID}}">Add panel member</a>
                    </li>
                </ul>
            </div>
            <div class="govuk-summary-card__content">

                {% if panel.length %}

                <dl class="govuk-summary-list">
                    {% for member in panel %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            {{member.Role}}
                        </dt>
                        <dd class="govuk-summary-list__value">{{member.FirstName}}
                            {{member.LastName}} {% if member.ExternalAssessor %}(External){% endif %}<br />
                            <span class="govuk-body govuk-body-s lighter-text">
                                <a href="mailto:{{member.EmailAddress}}?subject={{assessment.Name}}"
                                    class="govuk-link govuk-link--no-visited-state">{{member.EmailAddress}}</a></span>
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link"
                                href="/admin/remove-panel/{{member.AssessmentPanelID}}/{{member.UniqueID}}">Remove<span
                                    class="govuk-visually-hidden">
                                    {{member.FirstName}}
                                    {{member.LastName}}</span></a>
                        </dd>
                    </div>
                    {% endfor %}
                </dl>
                {% else %}
                <p class="govuk-!-margin-bottom-0">No panel members have been added.</p>
                {% endif %}

            </div>
        </div>

    </div>
    <div class="govuk-grid-column-one-third">
        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">

                <h2 class="govuk-summary-card__title">Guidance</h2>

            </div>
            <div class="govuk-summary-card__content">
                <ul class="govuk-list govuk-list--spaced govuk-!-margin-bottom-0">
                    <li>
                        <a href="https://apply-service-standard-staging-7f500b6e58fb.herokuapp.com" target="_blank">Who
                            should be on the panel</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>


{% endblock %}