{% extends "layouts/auth.html" %}

{% set selectedNav = "Admin" %}
{% set pageName = 'Report' %}
{% set view = 'report' %}

{% block head %}
<script src="https://kit.fontawesome.com/32bb6fdbdb.js" crossorigin="anonymous"></script>
{% endblock %}

{% block hero %}
{% include './_header.html' %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    {% if assessment.Status == 'SA Review' %}

    <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title"
      data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Important
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <p class="govuk-notification-banner__heading">
          The report has been completed by the assessor panel
        </p>
        <p>You can now send this on to the service team to review and accept, before publishing.</p>
        <form action="/admin/send-report" method="post">
          <input type="hidden" name="AssessmentID" value="{{ assessment.AssessmentID }}">
          <button name="action" class="govuk-button" data-module="govuk-button">Send report to team</button>
        </form>
      </div>
    </div>

    {% endif %}

    {% if assessment.Status == 'Team Review' %}

    <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title"
      data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Important
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <p class="govuk-notification-banner__heading">
          This report is with the team to review and accept.
        </p>

      </div>
    </div>

    {% endif %}

    {% if assessment.Status == 'SA Publish' %}

    <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title"
      data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Important
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <p class="govuk-notification-banner__heading">
          You can now publish this report
        </p>
        <p>The team have accepted the report.</p>
        <form action="/admin/publish-report" method="post">
          <input type="hidden" name="AssessmentID" value="{{ assessment.AssessmentID }}">
          <button name="action" class="govuk-button" data-module="govuk-button">Publish the report</button>
        </form>
      </div>
    </div>

    {% endif %}

    {% if assessment.Status == 'Published' %}

    <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title"
      data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Important
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <p class="govuk-notification-banner__heading">
          This report is published
        </p>

      </div>
    </div>

    {% endif %}

    <h2 class="govuk-heading-l">Report</h2>
    {% if assessment.Type === 'Service assessment' %}
    <p class="govuk-body">A service assessment carried out against the <a
        href="https://apply-the-service-standard.education.gov.uk/service-standard" target="_blank"
        class="govuk-link">Government Service Standard</a>
    </p>
    {% else %}
    <p class="govuk-body">An internal peer review carried out to help the team understand what has been done well,
      and what needs to be improved.</p>
    {% endif %}
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  

    <h2 class="govuk-heading-l">Panel comments</h2>

    <h3 class="govuk-heading-m">What the team has demonstrated well</h3>
  
        <pre class="govuk-body">{{assessment.PanelComments}}</pre>
  {% if assessment.Type === 'Peer review' %}
        <h3 class="govuk-heading-m">Recommendations for what the team could improve</h3>

        <pre class="govuk-body">{{assessment.PanelCommentsImprove}}</pre>
        {% endif %}
    {% if ratings | length > 0 %}


    {% if assessment.Type === 'Service assessment' %}
    <h2 class="govuk-heading-m  govuk-!-margin-top-7">Summary of ratings for standards</h2>
    <ol class="govuk-task-list">
      {% for standard in serviceStandards %}
      {% for rating in ratings %}
      {% if standard.Point == rating.Standard %}
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="#point-{{standard.Point}}"
            aria-describedby="standard-{{standard.Point}}-status">{{ standard.Point }}. {{ standard.Title
            }}</a>

        </div>
        <div class="govuk-task-list__status" id="standard-{{standard.Point}}-status">
          <strong class="govuk-tag govuk-tag--{{ rating.Outcome | lower }}">{{ rating.Outcome | NAToString }}</strong>
        </div>
      </li>
      {% endif %}
      {% endfor %}
      {% endfor %}
    </ol>

    {% for standard in serviceStandards %}
    {% for rating in ratings %}
    {% if standard.Point == rating.Standard %}
    <h2 class="govuk-heading-m govuk-!-margin-top-9" id="point-{{standard.Point}}">{{ standard.Point }}. {{
      standard.Title }}</h2>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Outcome for standard
        </dt>
        <dd class="govuk-summary-list__value">
          <strong class="govuk-tag govuk-tag--{{ rating.Outcome | lower }}">{{ rating.Outcome | NAToString  }}</strong>
        </dd>
      </div>
    </dl>


    <h3 class="govuk-heading-s">Actions for the team</h3>
    {% if actions | length %}

    <ul class="govuk-list govuk-list--bullet  govuk-list--spaced">
      {% for action in actions %}
      {% if action.Point === standard.Point %}
      <li>{{action.Comments}}</li>
      {% endif %}
      {% endfor %}
    </ul>
    {% else %}
    <p>There are no actions required for this standard</p>
    {% endif %}

    {% endif %}
    {% endfor %}
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    {% endfor %}

    {% else %}
    <p>Done well and improve</p>
    {% endif %}

    {% else %}
    <p>Panel haven't started the report yet.</p>
    {% endif %}

  </div>
  <div class="govuk-grid-column-one-third">
    <aside class="dfe-aside govuk-!-margin-top-6">

      <h2 class="govuk-heading-m">Download report</h2>
      <p><a class="govuk-link" href="/report/generate-doc/{{assessment.AssessmentID}}">Download <span
            class="govuk-visually-hidden">assessment report as a word document</span></a></p>


      {% if actions %}

      <h2 class="govuk-heading-m">Export action items</h2>
      {% if actions | length %}
      <p>You can export the list of {{actions | length}} as an
        <a class="govuk-link" href="/report/generate-excel/{{assessment.AssessmentID}}">Excel spreadsheet</a>.
      </p>
      {% else %}
      There are no actions to export
      {% endif %}


      {% endif %}

    </aside>
  </div>
</div>
{% endblock %}